﻿@{
    Layout = null;
    ViewBag.Title = "Create Account";
}
@model Portal.Models.ViewModel.CreateUserModel
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/javascript")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    @{
        ViewBag.Title = "Create New Account";
    }

    <div id="page-content-wrapper">

        <div id="banner" role="banner" class="primary">
            <div class="col-sm-6 col-sm-offset-3">
                <img class="banner " id="bannerImg" src="~/Content/images/TG Cityworks White.png" />
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    @using (Ajax.BeginForm("Create", "CreateAccount", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "success" }, new { @class = "form", @id = "createAccountForm" }))
                    {
                        <div id="form-content-wrapper">
                            <h3>Create New Account</h3>
                            <br />

                            <h4>Login Information</h4>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="sr-only" for="inputUsername">Email Address</label>
                                        @Html.EditorFor(m => m.ExternalUser.LOGIN_ID, new { htmlAttributes = new { placeholder = "Enter email address", @class = "form-control", @required = "true" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.LOGIN_ID, "", new { @class = "text-danger" })
                                    </div>
                               </div>
                            </div>

                            <h4>Password</h4>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="sr-only" for="inputPassword">Password</label>
                                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="sr-only" for="confirmPassword">ConfirmPassword</label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br />

                            <h4>Contact Information</h4>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="sr-only" for="inputFirst">First Name</label>
                                        @Html.EditorFor(m => m.ExternalUser.FIRST_NAME, new { htmlAttributes = new { placeholder = "First Name", @class = "form-control", @required = "true" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.FIRST_NAME, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="sr-only" for="inputLast">Last Name</label>
                                        @Html.EditorFor(m => m.ExternalUser.LAST_NAME, new { htmlAttributes = new { placeholder = "Last Name", @class = "form-control", @required = "true" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.LAST_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="inputAddressMain">Address</label>
                                @Html.EditorFor(m => m.ExternalUser.ADDRESS_LINE1, new { htmlAttributes = new { placeholder = "Address", @class = "form-control", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.ExternalUser.ADDRESS_LINE1, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="inputAddressSub">Address 2</label>
                                @Html.EditorFor(m => m.ExternalUser.ADDRESS_LINE2, new { htmlAttributes = new { placeholder = "Address 2", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ExternalUser.ADDRESS_LINE2, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label class="sr-only" for="inputCity">City</label>
                                        @Html.EditorFor(m => m.ExternalUser.CITY_NAME, new { htmlAttributes = new { placeholder = "City", @class = "form-control", @required = "true" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.CITY_NAME, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-4">
                                        <label class="sr-only" for="inputCity">City</label>
                                        @Html.EditorFor(m => m.ExternalUser.STATE_CODE, new { htmlAttributes = new { placeholder = "State", @class = "form-control", @required = "true" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.STATE_CODE, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-xs-4">
                                        <label class="sr-only" for="zipCode">Zip Code</label>
                                        @Html.EditorFor(m => m.ExternalUser.ZIP_CODE, new { htmlAttributes = new { placeholder = "Zip", @class = "form-control", @required = "true" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.ZIP_CODE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="sr-only" for="countryDropDown">Country</label>
                                        @Html.EditorFor(m => m.ExternalUser.COUNTRY_CODE, new { htmlAttributes = new { placeholder = "Country", @class = "form-control", @required = "true" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.COUNTRY_CODE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="sr-only" for="inputWorkPhone">Work Phone</label>
                                        @Html.EditorFor(m => m.ExternalUser.PHONE_WORK, new { htmlAttributes = new { placeholder = "Work Phone", @class = "form-control", @required = "true" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.PHONE_WORK, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="sr-only" for="inputCellPhone">Cell Phone</label>
                                        @Html.EditorFor(m => m.ExternalUser.PHONE_MOBILE, new { htmlAttributes = new { placeholder = "Mobile Phone", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.PHONE_MOBILE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            
                            <h4>Security</h4>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="sr-only" for="inputSecurityQuestion">Security Question</label>
                                        @Html.EditorFor(m => m.ExternalUser.SECURITY_QUESTION, new { htmlAttributes = new { placeholder = "Security Question", @class = "form-control", @required = "true" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.SECURITY_QUESTION, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="sr-only" for="securityAnswer">Security Answer</label>
                                        @Html.EditorFor(m => m.ExternalUser.ANSWER, new { htmlAttributes = new { placeholder = "Answer", @class = "form-control", @required = "true" } })
                                        @Html.ValidationMessageFor(model => model.ExternalUser.ANSWER, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div id="regBtnGroup">
                                @Html.ActionLink("Cancel", "Login", "Account", null, new { @class = "btn btn-primary btn-raised" })
                                <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel"></h3>
                </div>
                <div class="modal-body">
                    Account successfully created.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>

                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script>
    function success(data) {
        $('#myModal').modal();
        if (data === "Success") {
            $('.modal-title').text('Success!')
            $('.modal-body').text("Account created.");
            $('#myModal').on('hidden.bs.modal', function (e) {
                window.location = "/Home/Welcome";
            });
        } else {
            $('.modal-title').text('Error!')
            $('.modal-body').text("Username already exists.");
        }
    }
</script>