﻿@model IEnumerable<Portal.Models.DB.CA_OBJECT_VW>


@{
    ViewBag.Title = "Search Permits by Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered tableStyle" id="searchLocationTable">
    <thead>
        <tr>
            <th>
                Permit Number
            </th>
            <th>
                Address
            </th>
            <th>
                Permit Type
            </th>
            <th>
                Permit Type Desc.
            </th>
            <th>
                X Coord
            </th>
            <th>
                Y Coord
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.CASE_NUMBER, "Index", "PermitInfo", new { permitNum = item.CASE_NUMBER }, new AjaxOptions { HttpMethod = "Post" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOCATION)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_TYPE_DESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CY)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="col-sm-12">
    <button class="btn btn-raised btn-primary" onclick="history.go(-1);">Search Again</button>
</div>

@Scripts.Render("~/bundles/dataTables")
<script>
    $(document).ready(function () {
        $('#searchLocationTable').DataTable();
    });
</script>
