﻿@using (Html.BeginForm("SearchLocation", "SearchByLocation", FormMethod.Post, new { @class = "col-sm-12" }))
{
    @*<div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                @Html.TextBox("location", null, new { @class = "form-control", @placeholder = "Enter location", required = "required", text = "" })
            </div>
        </div>
    </div>*@

     <div class="row">
        <div class="form-group label-floating">
            <div class="col-sm-6">
                <label for="locationName" class="control-label">Enter Location</label>
                @Html.TextBox("location", null, new { @class = "form-control", required = "required" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-raised btn-primary">Search</button>
        </div>
    </div>
    @Html.Hidden("address", null, new { @class = "selected-address-two" });
}