﻿@{
    ViewBag.Title = "Search Permits by Location";
    ViewBag.Icon = @"<i class=""fa fa-search""></i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Scripts.Render("http://js.arcgis.com/3.14/")
@Scripts.Render("~/scripts/MapHelper.js")*@
@*<link rel="stylesheet" href="http://js.arcgis.com/3.14/esri/css/esri.css" />*@

<div id="search-form">
    @Html.Action("SearchLocation", "SearchByLocation")
</div>

@*<div class="form-group">
    <div class="row">
        <div class="col-sm-12">
            <div class="claro" id="mapDiv"></div>
        </div>
    </div>
</div>*@

<div id="search-results"></div>

<script>
   
</script>