﻿
@{
    Layout = null;
    ViewBag.Title = "Guest Access";
}
@Styles.Render("~/bundles/css")
@Scripts.Render("~/bundles/javascript")
@Scripts.Render("https://www.google.com/recaptcha/api.js")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="banner" role="banner" class="primary">
                    <div class="col-sm-6 col-sm-offset-3">
                        <img class="banner " id="bannerImg" src="~/Content/images/TG Cityworks White.png" />
                    </div>
                </div>
               @using (Html.BeginForm("LogIn", "GuestAccess", FormMethod.Post, new { id = "createAccountForm", @class = "form" }))
               {
                    <div id="form-content-wrapper" class="col-xs-6 col-xs-offset-3">
                        <h3>Guest Access</h3>
                        <br />
                        <h5>Please verify you are not a bot and then click submit.</h5>
                        <div class="g-recaptcha" style="width: 304px; margin: 0 auto;" data-sitekey="6Lf_9SYTAAAAAFhNvHiC02donMvlNUigf6Hx4Sbj"></div>
                        <div style="text-align:center">
                            <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                        </div>
                    </div>
                   
               }
            </div>
        </div>
    </div>
</body>
</html>
