﻿@model Portal.Models.ViewModel.CreateApplicationViewModel
@{
    ViewBag.Title = "Create Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://js.arcgis.com/3.18/esri/themes/calcite/dijit/calcite.css">
<link rel="stylesheet" href="https://js.arcgis.com/3.18/esri/themes/calcite/esri/esri.css">
<script src="https://js.arcgis.com/3.18/"></script>
@Scripts.Render("~/scripts/MapHelper.js")

@* form *@
@*@if(Model.CaseType.SelectedCaseType == "GMLU_PRCON" || Model.CaseType.SelectedCaseType == "GMLU_LUCC" || Model.CaseType.SelectedCaseType == "GMLU_TYPEB" || Model.CaseType.SelectedCaseType == "GMLU_TYPEA" || Model.CaseType.SelectedCaseType == "GMLU_LP" || Model.CaseType.SelectedCaseType == "GMLU_PP" || (Model.CaseType.SelectedCaseType == "GMLU_CONC" && Model.CaseType.SelectedSubType == "GMLU_CITYC") || Model.CaseType.SelectedCaseType == "GMLU_PRSUB")
    {
        <div class="divwidth">Before you apply, please verify that the parcels you are applying for are in the City limits and are contiguous.  If the parcels are not in the City limits you will need to contact Leon County Growth Management at #606-1300 for permitting.  If the parcels are not contiguous a separate application will need to be done for each contiguous group.  Please contact COT Growth Management at #891-7001, Option 4 if you have questions.</div><br />
    }
    else if (Model.CaseType.SelectedCaseType == "GMLU_ZONE")
    {
        <div class="divwidth">Before you apply, please verify that the parcel you are applying for is in the City limits.  If the parcel is not in the City limits you will need to contact Leon County Growth Management at #606-1300 for permitting.  Only one parcel is allowed per application.  If you have multiple parcels, please submit an application for each. Please contact COT Growth Management at #891-7001, Option 4 if you have questions.</div><br />
    }
*@
<h4 class="primary-text">Select Location</h4>
<p>Addresses/Parcels may be selected by searching or clicking a point on the map.  Can't find an address?  <a id="newAddr" href="#">Click here.</a> </p>
@*<div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                @Html.TextBox("location", null, new { @class = "form-control", @placeholder = "Enter location" })
            </div>
            <div class="col-sm-2">
                <input type="button" class="btn btn-raised btn-primary" value="Zoom to Selected Features" id="zoom2Features" />
            </div>
        </div>
    </div>*@

<p class="text-bold">Selected Location: </p><div style="font-weight: bold;" id="Location"></div>
<div style="color:red; font-weight: bold;" id="FloodZoneAlertMsg"></div>
<div style="color:red; font-weight: bold;" id="CityZoneAlertMsg"></div>
<div style="color:red; font-weight: bold;" id="MMTDZoneAlertMsg"></div>
<div style="color:red; font-weight: bold;" id="HPOZoneAlertMsg"></div>

@*<div id="location">
        @Html.Partial("CaseLocationPartial", Model)
    </div>*@

@Html.ValidationMessageFor(model => model.Addresses[0].Location, "", new { @class = "text-danger" })
<div class="form-group calcite">
    <div class="row">
        &nbsp;&nbsp;&nbsp;&nbsp;<button id="clear">Clear map points</button><br/><br/>
        <div class="col-sm-12">            
            <div id="search"></div>
            <div id="map"></div><br/>            
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="row">
        @Html.ActionLink("Cancel", "Welcome", "Home", null, new { @class = "btn btn-raised btn-primary" })
        <button class="btn btn-raised btn-primary" onclick="history.go(-1);">Previous</button>
        <button type="submit" class="btn btn-raised btn-primary" id="next">Next</button>
    </div>
</div>

@* hidden inputs *@
<input type="hidden" id="cityZone" value="@Html.DisplayFor(m => m.CaseType.SelectedCaseType)" />
<input type="hidden" id="cityZoneSubType" value="@Html.DisplayFor(m=>m.CaseType.SelectedSubType)" />

@* modal *@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Warning!</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="address-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" style="text-align:center">Add Address</h3>
            </div>
            <div class="modal-body">
                <div class="form-group label-floating">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <label class="control-label" for="addrNum">Address #</label>
                            <input class="form-control" id="addrNum" name="addrNum" type="number" />
                        </div>
                    </div>
                </div>

                <div class="form-group label-floating">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <label class="control-label" for="stDir">Street Direction</label>
                            <input class="form-control" id="stDir" name="stDir" type="text" />
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <label class="control-label" for="stFr">Street Fraction</label>
                            <input class="form-control" id="stFr" name="stFr" type="text" />
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <label class="control-label" for="stName">Street Name</label>
                            <input class="form-control" id="stName" name="stName" type="text" />
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <label class="control-label" for="stTy">Street Type</label>
                            <input class="form-control" id="stTy" name="stTy" type="text" />
                        </div>
                    </div>
                </div>

                <div class="form-group label-floating">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <label class="control-label" for="aptNum">Suite/Apt #</label>
                            <input class="form-control" id="aptNum" name="aptNum" type="text" />
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <label class="control-label" for="city">City</label>
                            <input class="form-control" id="city" name="city" type="text" />
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <label class="control-label" for="state">State</label>
                            <select id="state" name="state" class="form-control">
                                <option value="FL">Florida</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <label class="control-label" for="zip">Zip</label>
                            <input class="form-control" id="zip" name="zip" type="number" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addFromModal" type="button" class="btn btn-raised btn-primary" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>

<script>

    $('#newAddr').click(function (event) {
        $('#address-modal').modal();
    });

    $('#addFromModal').click(function (event) {
        //get separate fields and concatenate as one location string
        var num = $('#addrNum').val(),
            direction = $('#stDir').val(),
            fraction = $('#stFr').val(),
            name = $('#stName').val(),
            type = $('#stTy').val(),
            apartment = $('#aptNum').val();
        var locationString = $.grep([num, direction, fraction, name, type, apartment], Boolean).join(' ');
        var loc = $('#Location').val();
        loc = $.grep([loc, locationString], Boolean).join(' | ');
        $('#Location').val(loc);
        $('#Location').text(loc);
    });

    $('#next').click(function (event) {
        $('#load-modal').modal('show'); // start load
        var flag = [];

        if ($('#Location').val() === '') {
            $('.modal-body').text('Please select a location.');
            $('#load-modal').modal('hide');
            $('#myModal').modal();
            return;
        }

        // add flags to case
        if ($('#FloodZoneAlertMsg').text() !== '') {
            flag.push("FLOOD ZONE");
        }
        if ($('#MMTDZoneAlertMsg').text() !== '') {
            flag.push("MMTD");
        }
        if ($('#HPOZoneAlertMsg').text() !== '') {
            flag.push("HISTORICAL");
        }

        var addressArray = $('#Location').val().split(' | ');
        console.log(addressArray);
        var addresses = JSON.parse(localStorage.getItem('_address'));
        var postData = { addresses: addresses, flags: flag };

        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            url: "@Url.Action("AddAddresses", "CreateApplication")",
            data: JSON.stringify(postData),
            traditional: true,
            success: function (response) {
                if (response.result == 'Redirect') {
                    window.location = response.url;
                } else {
                    $('#load-modal').modal('hide');
                    alert("Error");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#load-modal').modal('hide');
                alert(jqXHR.responseText);
            }
        });

    });
</script>