﻿@model Portal.Models.ViewModel.CreateApplicationViewModel
@{
    ViewBag.Title = "Create Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="primary-text">Select Case Types and Sub-Types</h4>

<br />
<form id="caseTypeForm" >
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label" for="SelectedCaseType">Case Type</label>
                @Html.DropDownListFor(model => Model.CaseType.SelectedCaseType, Model.CaseType.CaseTypes, new { @class = "form-control", @required = "required" })
            </div>
        </div>
    </div>

    <div id="subTypes" class="hidden">
        @Html.Partial("CaseTypePartial", Model)     
    </div>
    <!--<div id="message" style="color:#e50000"></div>-->
    <br />  
    <div class="col-sm-12">
        <div class="row">
            @Html.ActionLink("Cancel", "Welcome", "Home", null, new { @class = "btn btn-raised btn-primary" })
            <button class="btn btn-raised btn-primary" onclick="history.go(-1);">Previous</button>
            <button type="submit" id="next" class="btn btn-raised btn-primary">Next</button>
        </div>
    </div>
</form>

<script src="../scripts/parsley.min.js"></script>

<script>

    $('#CaseType_SelectedCaseType').change(function (event) {
        $('#load-modal').modal('show'); // start load
        $('#CaseType_SelectedSubType').empty();
        var caseType = $('#CaseType_SelectedCaseType').val();
        // caseType = caseType.substr(0, caseType.indexOf(':'));
        $.ajax({
            url: "@Url.Action("SearchSubType", "CreateApplication")",
            type: 'POST',
            datatype: 'json',
            data: { caseType: caseType },
            success: function (data) {
                $('#subTypes').show();
                $('#subTypes').html(data);
                $('#subTypes').removeClass('hidden');
                $('#load-modal').modal('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#load-modal').modal('hide'); // end load
                alert(errorThrown);
            },
            complete:               
                function (data) {
                    $('#CaseType_SelectedSubType').change(function (event) {
                    var childorstandalone = "@Model.ChildOrStandAlone";
                    var subType = $('#CaseType_SelectedSubType').val();
                 /*   if (subType == "GMBI_AS" && childorstandalone == "Child") {
                        $('#message').html("This Sub-Type can only be Stand-Alone");
                        $('#next').prop('disabled', true);
                    }
                    else {
                        $('#message').html("");
                        $('#next').prop('disabled', false);
                    }
                    */
                });
             }
        });
    });

    $('#next').click(function (event) {
        event.preventDefault(); //added for firefox
        if (!$('#caseTypeForm').parsley().validate())
            return;
        else {
            $('#load-modal').modal('show'); // start load

            var caseType = $('#CaseType_SelectedCaseType').val();
            var subType = $('#CaseType_SelectedSubType').val();
            $.ajax({
                url: "@Url.Action("CaseType", "CreateApplication")",
                type: 'POST',
                datatype: 'json',
                data: { caseType: caseType, subType: subType },
                success: function (response) {
                    if (response.result == 'Redirect') {
                        $('#load-modal').modal('hide');
                        window.location = response.url;
                    } else {
                        $('#load-modal').modal('hide');
                        alert("Error");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#load-modal').modal('hide');
                    alert("Error");
                }
            });
        }

    });
</script>