﻿@model Portal.Models.ViewModel.CreateApplicationViewModel
@{
    ViewBag.Title = "Create Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
@if (Model.CaseType.SelectedCaseType == "GMBI_CBLD")
{
    <div class="divwidth">Prior to the approval of this project a licensed Florida Contractor will be required.  Please list the Primary Contractor affiliated with the project.  If the Applicant is the Contractor you must enter your information as the Applicant and your professional affiliation to the project.<br /><br />If a licensed contractor has not been selected at time of permit application, enter the license number for contractor as TBD.  If the property owner will be acting as the contractor in accordance with State Statute 489.103(7), please enter OWNER in the license number field.</div><br />
}
*@

<h4 class="primary-text">Select a Contractor</h4>

<div class="form-group label-floating">
    <div class="col-sm-6">
        <label for="CaseContractor_SearchValue" class="control-label">Search by contractor name or license num.</label>
        @Html.TextBoxFor(m => m.CaseContractor.SearchValue, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <button id="search" type="button" class="btn btn-raised btn-primary">Search</button>
    </div>
</div>
<br />
<div id="contractors" class="hidden">
    @Html.Partial("CaseContractorsPartial", Model)
</div>

<div class="modal fade" id="contractorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                    <p style="text-align:justify">You have not selected a contractor.  You may proceed with the application, but a contractor is required before permit issuance.</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="contractorModal">Dismiss</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="contractorLicenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">          
                <p style="text-align:justify" id="text">License for this contractor is expired. You may continue to submit an application, but the permit will not be issued with an expired license.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="contractorLicenseModal">Dismiss</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                <p style="text-align:justify">Select a Contractor.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="myModal">Dismiss</button>
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("Cancel", "Welcome", "Home", null, new { @class = "btn btn-raised btn-primary" })
<button class="btn btn-raised btn-primary" onclick="history.go(-1)">Previous</button>
<button type="submit" id="save" class="btn btn-raised btn-primary">Next</button>

@Scripts.Render("~/bundles/dataTables")
<script>

    $(document).ready(function () {
        // Allow only single row selection
        $('#searchContractorTable tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });

    //function sleep(milliseconds) {
    //    var start = new Date().getTime();
    //    for (var i = 0; i < 1e7; i++) {
    //        if ((new Date().getTime() - start) > milliseconds) {
    //            break;
    //        }
    //    }
    //}

    // show name search after contractor type is selected
    $('#ContractorType_SelectedType').change(function () {
        $('#nameDiv').removeClass('hidden');
    });

    $('#search').click(function (event) {
        $('#load-modal').modal('show'); // start load
        var searchValue = $('#CaseContractor_SearchValue').val();

        $.ajax({
            url: "@Url.Action("SearchContractors", "CreateApplication")",
            type: 'POST',
            datatype: 'json',
            data: { searchValue: searchValue },
            success: function (data) {
                $('#contractors').html(data);
                $('#contractors').removeClass('hidden');
                $('#searchContractorTable').removeClass('hidden');
                $('#load-modal').modal('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#load-modal').modal('hide');
                alert(errorThrown);
            }
        });
    });

    var contractorInfo = { contractorId: null, contractorTypeId: null, stateLicenseId: null };
    var contractor = [];

    $('#save').click(function () {
        contractor = [];
        var licenseexpflag, wcexpflag, glexpiryflag, genlicenseexpflag;
        var dialogflag = 0;
        var casetype = "@Model.CaseType.SelectedCaseType";
        sessionStorage.setItem("nocontractor", "");
        sessionStorage.setItem("licenseexpired", "");
        sessionStorage.setItem("glexpired", "");
        sessionStorage.setItem("wcexpired", "");
        var table = $('#selectedContractor').DataTable();
        var items = table.data();
        var currentdate = new Date();
        if (items.length > 0) {
            for (var i = 0; i < items.length; i++) {
               // $("#text").html("");
                var contractorlist = {
                    ContractorId: null,
                    ContractorTypeId: null,
                    StateLicenseId: null,
                    ContractorName: null,
                    ContractorType: null,
                    License_Num: null,
                    licenseexpirydate: null,
                    generalliabilityexpirydate: null,
                    workcompensationexpirydate: null
                }

                contractorlist.ContractorId = items[i][0];
                contractorlist.ContractorTypeId = items[i][1];
                contractorlist.StateLicenseId = items[i][2];
                contractorlist.ContractorName = items[i][3];
                contractorlist.ContractorType = items[i][4];
                contractorlist.License_Num = items[i][5];
                contractorlist.licenseexpirydate = new Date(items[i][6]);
                contractorlist.generalliabilityexpirydate = new Date(items[i][7]);
                contractorlist.workcompensationexpirydate = new Date(items[i][8]);
                contractor.push(contractorlist);
            }
            for (var i = 0; i < contractor.length; i++) {
                if (currentdate > contractor[i].licenseexpirydate) {
                    //licenseexpflag = 1;
                    $('#load-modal').modal('hide');
                    $('#contractorLicenseModal').modal('show');
                }
                else
                {
                    addContractor(contractor);
                }
            }
            
            /*
                        for (var i = 0; i < contractor.length; i++) {
                            if (casetype == "GMBI_CBLD" || casetype == "GMBI_AS" || casetype == "GMBI_ELEC" || casetype == "GMBI_GAS" || casetype == "GMBI_LCGT" || casetype == "GMBI_MECH" || casetype == "GMBI_PLUM" || casetype == "GMBI_ROOF") {
                                if (currentdate > contractor[i].licenseexpirydate) {
                                    licenseexpflag = 1;
                                }
                                if (currentdate > contractor[i].generalliabilityexpirydate) {
                                    glexpiryflag = 1;
                                }
                                if (currentdate > contractor[i].workcompensationexpirydate) {
                                    wcexpflag = 1;
                                }
                            }
                            else {
                                if (currentdate > contractor[i].licenseexpirydate) {
                                    genlicenseexpflag = 1;
                                }
                            }
                        }
                        if (licenseexpflag == 1 || glexpiryflag == 1 || wcexpflag == 1 || genlicenseexpflag == 1) {
                            if(licenseexpflag)
                            {
                                sessionStorage.setItem("licenseexpired", "true");
                                $('#text').append("Our records indicate your State of Florida or Local License has expired.  Please fax a copy of the current license to (850) 891-0948 or email to the Permit Service Center.<br/><br/>");
                            }
                            if(glexpiryflag)
                            {
                                sessionStorage.setItem("glexpired", "true");
                                $('#text').append("Our records indicate your General Liability has expired.  Please submit the certificate of insurance showing the City of Tallahassee as the certificate holder, by fax (850) 891-0948 or email to our Permit Service Center.<br/><br/>");
                            }
                            if(wcexpflag)
                            {
                                sessionStorage.setItem("wcexpired", "true");
                                $('#text').append("Our records indicate your Workers Compensation has expired.  Please submit the exemption certificate or a certificate of insurance showing the City of Tallahassee as the certificate holder, by fax (850) 891-0948 or email to our Permit Service Center.  Employee leasing companies must provide a roster if applicable.");
                            }
                            if(genlicenseexpflag)
                            {
                                $('#text').append("License for this contractor is expired. You may continue to submit an application, but the permit will not be issued with an expired license.");
                            }
                            $('#load-modal').modal('hide');
                            $('#contractorLicenseModal').modal('show');
                        }
                        else
                        {
                            addContractor(contractor);
                        }
                    }
                    else {
                        $('#load-modal').modal('hide');
                        $('#contractorModal').modal('show');
                        sessionStorage.setItem("nocontractor", "true");
                    }*/
        }
        else {
            $('#load-modal').modal('hide');
            $('#contractorModal').modal('show');
           // sessionStorage.setItem("nocontractor", "true");
        }

    });

    $('#contractorModal').click(function () {
        addContractor(contractor);
    });
/*
    function getPermitforLicenseExpCheck($PERMIT_TYPE) {
        return $PERMIT_TYPE == 'GMBI_ELEC' || $PERMIT_TYPE == 'GMBI_MECH' || $PERMIT_TYPE == 'GMBI_GAS' || $PERMIT_TYPE == 'GMBI_PLUM' || $PERMIT_TYPE == 'GMBI_ROOF' || $PERMIT_TYPE == 'GMBI_AS' || $PERMIT_TYPE == 'GMBI_LCGT';
    }
*/
    $('#contractorLicenseModal').click(function () {
   @*     var casetype = "@Model.CaseType.SelectedCaseType";
        if (!getPermitforLicenseExpCheck(casetype))
        {
       *@
       // var table = $('#searchContractorTable').DataTable();
       // var items = table.rows('.selected').data();
      //  contractorInfo.contractorId = items[0][0];
       // contractorInfo.contractorTypeId = items[0][1];
      //  contractorInfo.stateLicenseId = items[0][2];
        addContractor(contractor);
     @*  }*@
    });

    function addContractor(contractor) {
        $('#load-modal').modal('show');
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            url: "@Url.Action("AddContractor", "CreateApplication")",
            type: 'POST',
            datatype: 'json',
            data: JSON.stringify(contractor),
            success: function (response) {
                //sleep(9000);

                if (response.result == 'Redirect') {
                    $('#contractorModal').modal('hide');
                    window.location = response.url;
                } else {
                    $('#load-modal').modal('hide');
                    $('#contractorModal').modal('hide');
                    alert("Error");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#load-modal').modal('hide');
                alert(errorThrown);
            }
        });
    }

</script>