﻿@using Portal.Models.DB
@model Portal.Models.ViewModel.CreateApplicationViewModel
@{
    ViewBag.Title = "Case Submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
@* Case Summary *@
<div class="panel panel-primary" id="test">
    <div class="panel-heading">
        Case Summary: @Html.DisplayFor(m => m.CaObject.CASE_NUMBER)
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div id="summaryPanel" class="collapse in">
        <div class="panel-body">
            <p class="text-bold">
                Case Type: @Html.DisplayFor(m => m.CaseType.SelectedCaseType)
            </p>
            <p class="text-bold">
                Case Status: @Html.DisplayFor(m => m.CaObject.CASE_STATUS.STATUS_CODE)
            </p>
            <p class="text-bold">
                Location: @Html.DisplayFor(m => m.CaObject.LOCATION)
            </p>
            <p class="text-bold">X: @Html.DisplayFor(m => m.CaObject.CX), Y: @Html.DisplayFor(m => m.CaObject.CY)</p>
        </div>
    </div>
</div>

@* Contractor *@
<div class="panel panel-primary">
    <div class="panel-heading">
        Contractor
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div id="contractorPanel" class="collapse in">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Business Name</th>
                    <th>Contractor Type</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Phone</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(m => m.CaseContractor.ContractorEntity.BUSINESS_NAME)</td>
                    <td>@Html.DisplayFor(m => m.CaseContractor.ContractorLicense.CONTRACTOR_DESC)</td>
                    <td>@Html.DisplayFor(m => m.CaseContractor.ContractorEntity.FIRST_NAME) @Html.DisplayFor(m => m.CaseContractor.ContractorEntity.LAST_NAME)</td>

                    <td>@Html.DisplayFor(m => m.CaseContractor.ContractorEntity.CITY_NAME)</td>
                    <td>@Html.DisplayFor(m => m.CaseContractor.ContractorEntity.PHONE_HOME)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

@* People *@
<div class="panel panel-primary">
    <div class="panel-heading">
        People
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div id="peoplePanel" class="collapse in">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>City</th>
                </tr>
                @foreach (var person in Model.People.PeopleList)
                {
                    <tr>
                        <td> @Html.DisplayFor(m => person.NAME)</td>
                        <td>@Html.DisplayFor(m => person.ROLE_ID.Value)</td>
                        <td> @Html.DisplayFor(m => person.CITY_NAME)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@* Data Details *@
<div class="panel panel-primary">
    <div class="panel-heading">
        Case Data Details
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div id="detailPanel" class="collapse in">
        @*
    @if (@Html.DisplayFor(m => m.CaseType.SelectedCaseType).ToString() != "GMLU_ZONE")
    {
        <div class="panel-body">

            @for (var i = 0; i < Model.DataDetailsList.Count; i++)
            {
                if (Model.DataDetailsList[i].CheckboxFlag == "Y")
                {
                    <p class="text-bold">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)   @Html.DisplayFor(m => m.DataDetailsList[i].CheckboxValue)</p>
                }
                else if (Model.DataDetailsList[i].CommentFlag == "Y")
                {
                    <p class="text-bold">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)   @Html.DisplayFor(m => m.DataDetailsList[i].CommentValue)</p>
                }
                else if (Model.DataDetailsList[i].DateFlag == "Y")
                {
                    <p class="text-bold">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)   @Html.DisplayFor(m => m.DataDetailsList[i].DateValue)</p>
                }
                else if (Model.DataDetailsList[i].ListValuesFlag == "Y")
                {
                    <p class="text-bold">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)   @Html.DisplayFor(m => m.DataDetailsList[i].ListValue)</p>
                }
                else if (Model.DataDetailsList[i].NumberFlag == "Y")
                {
                    <p class="text-bold">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)  @Html.DisplayFor(m => m.DataDetailsList[i].NumberValue)</p>
                }
                else if (Model.DataDetailsList[i].ValueFlag == "Y")
                {
                    <p class="text-bold">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)  @Html.DisplayFor(m => m.DataDetailsList[i].Quantity)</p>
                }
                else if (Model.DataDetailsList[i].TextFlag == "Y")
                {
                    <p class="text-bold">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)   @Html.DisplayFor(m => m.DataDetailsList[i].TextValue)</p>
                }
                else if (Model.DataDetailsList[i].YesNoFlag == "Y")
                {
                    <p class="text-bold">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)   @Html.DisplayFor(m => m.DataDetailsList[i].YesNoValue)</p>
                }
            }
        </div>
    }
        *@
    </div>
</div>
-->
@{ CityworksEntities db = new CityworksEntities();
    var maxobject = db.CA_OBJECT_VW.Max(c => c.CA_OBJECT_ID);
    var casenumber = db.CA_OBJECT.Where(c => c.CA_OBJECT_ID == maxobject).Select(c => c.CASE_NUMBER).FirstOrDefault();
    var casetype = (Model.CaseType.SelectedSubType!=null) ? Model.CaseType.SelectedSubType : Model.CaseType.SelectedCaseType;
    if(casetype == "GMLU_NEWLP")
    {
        casetype = "GMLU_LP";
    }
    else if(casetype == "GMLU_NEWPP")
    {
        casetype = "GMLU_PP";
    }
    else if(casetype == "GMLU_NEWB")
    {
        casetype = "GMLU_TYPEB";
    }
    else if(casetype == "GMLU_NEWA")
    {
        casetype = "GMLU_TYPEA";
    }
    var casedescription = db.BUS_CASE_VW.Where(c => c.BUS_CASE_CODE == casetype).Select(c => c.BUS_CASE_DESC).FirstOrDefault().ToUpper();
    }
@*
    @if (Model.CaseType.SelectedCaseType == "GMLU_TYPEB" || Model.CaseType.SelectedCaseType == "GMLU_TYPEA" || Model.CaseType.SelectedCaseType == "GMLU_LP" || Model.CaseType.SelectedCaseType == "GMLU_PP" || Model.CaseType.SelectedCaseType == "GMLU_PRSUB" || (Model.CaseType.SelectedCaseType == "GMLU_CONC" && Model.CaseType.SelectedSubType == "GMLU_CITYC") || Model.CaseType.SelectedCaseType == "GMLU_PRCON")
    {
        <p class="divwidth">Your application has been submitted. Your @casedescription application tracking number is : <b>@casenumber</b><br/><br/>All parties (applicants, owners, contacts and agents) listed on this @casedescription application will receive an email invitation to the City Projects Website. You may use the City Projects website to submit project files to the City and check on the @casedescription application status. Once we have reviewed the contents of your submittal, the fees for this review will be calculated and you, the applicant, will receive an email with a link to pay online. If you have any questions regarding the fees due, please contact our staff at (850)891-7001, Option 4.<br/><br/>Please read the guidelines for the @casedescription Review on our website. These guidelines were created to help facilitate your review by letting you will know what is expected and what to expect: <a href="http://www.talgov.com/growth/growth-cityprojectsreview.aspx" target="_blank">http://www.talgov.com/growth/growth-cityprojectsreview.aspx</a></p>
    }
    else if (Model.CaseType.SelectedCaseType == "GMLU_LUCC")
    {
       <p class="divwidth">Your application has been submitted. Your @casedescription application tracking number is : <b>@casenumber</b><br /><br />The Applicant listed on this @casedescription application will receive an email invitation to the City Projects Website. You may use the City Projects website to check on the @casedescription application status. Once we have reviewed the contents of your submittal, the fees for this review will be calculated and you, the applicant, will receive an email with a link to pay online. If you have any questions regarding the fees due, please contact our staff at (850)891-7001, Option 4.<br /><br />Please read the guidelines for the @casedescription Review on our website. These guidelines were created to help facilitate your review by letting you will know what is expected and what to expect: <a href="http://www.talgov.com/growth/growth-cityprojectsreview.aspx" target="_blank">http://www.talgov.com/growth/growth-cityprojectsreview.aspx</a></p>
    }
    else if (Model.CaseType.SelectedCaseType == "GMLU_ZONE")
    {
       <p class="divwidth">Your application has been submitted. Your @casedescription application tracking number is : <b>@casenumber</b><br /><br />The Applicant listed on this @casedescription application will receive an email invitation to the City Projects Website. The City Projects website should be used to track the status of your permit.<br /><br />Our office will review the content of the application submittal.  Fees will be calculated for you and the applicant will receive an email with a link to pay online. If you have any questions regarding the fees due, please contact our staff at (850)891-7001, Option 4.<br/><br/>Please read the guidelines for the @casedescription Review on our website. These guidelines were created to help facilitate your review by letting you will know what is expected and what to expect: <a href="http://www.talgov.com/growth/growth-cityprojectsreview.aspx" target="_blank">http://www.talgov.com/growth/growth-cityprojectsreview.aspx</a></p>
    }
    else if (Model.CaseType.SelectedSubType == "GMBI_ASG" || Model.CaseType.SelectedSubType == "GMBI_ASP" || Model.CaseType.SelectedCaseType == "GMBI_ELEC" || Model.CaseType.SelectedCaseType == "GMBI_GAS" || Model.CaseType.SelectedCaseType == "GMBI_LCGT" || Model.CaseType.SelectedCaseType == "GMBI_MECH" || Model.CaseType.SelectedCaseType == "GMBI_PLUM" || Model.CaseType.SelectedCaseType == "GMBI_ROOF")
    {
       <p class="divwidth" id="planreviewtag"></p>
    }
    else if (Model.CaseType.SelectedCaseType == "GMBI_CBLD")
    {
       <ul>
           <li class="divwidth" style="margin-top:10px">Your permit application has been submitted.  The application tracking number is: <b>@casenumber</b><br /></li>
           <li class="divwidth" style="margin-top:10px;color:orangered" id="nocontract" hidden></li>
           <li class="divwidth" style="margin-top:10px;color:orangered" id="licenseexpired" hidden></li>
           <li class="divwidth" style="margin-top:10px;color:orangered" id="glexpired" hidden></li>
           <li class="divwidth" style="margin-top:10px;color:orangered" id="wcexpired" hidden></li>
           <li class="divwidth" style="margin-top:10px">The Applicant listed on this Commercial Building Permit Application will receive an email invitation to the City Projects Website.  The City Projects website will be used for all of your permitting needs such as; submitting your plans and review documentation, reviewing your plan review comments; permit approval and issuance.<br /><br />After the application is submitted, the Applicant will receive an “Applicant Checklist Assignment Notice” email task to upload applicable documentation and plans.  Once this task is completed our office will review the content of the submittal received.  Fees will be calculated by our office and correspondence submitted to the Applicant.  Our online payment system accepts ACH bank transfers only. You will need the routing and account number for the bank account you chose to make payment with.  If you have any questions related to the fees due, please contact our office at (850) 891-7001 option 2.<br /><br />Please read the guidelines for the Commercial Building Permit Application process on our website. These guidelines were created to help facilitate your review by letting you know what is expected and what to expect:  City Projects Reviews<br/></li>
       </ul>
    }
    else if(Model.CaseType.SelectedSubType == "GMBI_AS")
    {
        <p class="divwidth">Your application has been submitted. Your @casedescription application tracking number is : <b>@casenumber</b></p>
    }
*@
    <p class="divwidth">Your application has been submitted. Your @casedescription application tracking number is : <b>@casenumber</b></p>
        @* Attachments *@
  <!--      <div id="uploadfile" class="panel panel-primary">
            <div class="panel-heading">
                Attachments
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div id="attachmentPanel" class="collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="inputFile2">Attach file(s)</label>
                        <input id="pllMultiInputFiles" multiple="" type="file" name="files[]">
                        <input readonly="" class="form-control" placeholder="Browse Files" type="text">
                    </div>
                    <br />
                    <div>
                        <button id="pllUpload" class="btn btn-raised btn-primary">Upload</button>
                    </div>
                </div>
            </div>
        </div>
-->
        <div class="col-sm-12">
            <div class="row">
                
                <br/><br/><br/>
                @Html.ActionLink("Home", "Welcome", "Home", null, new { @class = "btn btn-raised btn-primary" })
                <input type="button" class="btn btn-raised btn-primary" id="payFeesBtn" value="Pay Fees" />
            </div>
        </div>

        @Html.HiddenFor(m => m.CaObject.CA_OBJECT_ID)
        @Html.HiddenFor(m => m.CaObject.CASE_NUMBER)
        <script>
            // dropdown panels
            $(document).on('click', '.panel-heading span.clickable', function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                } else {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                }
            })
            $(function () {
                var HPO = sessionStorage.getItem("HPO") ? sessionStorage.getItem("HPO") : 0;
                var casetype = "@Html.DisplayFor(m => m.CaseType.SelectedCaseType).ToString()";
                if (HPO != 0) {
                    $('#payFeesBtn').addClass('hidden');
                }
              @*  if (sessionStorage.getItem("PLAN_REVIEW_FLAG") == "true" && (casetype == "GMBI_ELEC" || casetype == "GMBI_GAS" || casetype == "GMBI_PLUM" || casetype == "GMBI_ROOF" || casetype == "GMBI_MECH")) {
                    $('#planreviewtag').show();
                    $('#planreviewtag').append("Your permit is pending review.  The permit number is: <b>@casenumber</b><br/>Please record the permit number and print all receipts and permits.");
                    if (casetype == "GMBI_ROOF") {
                        $('#uploadfile').hide();
                        $('#payFeesBtn').addClass('hidden');
                    }
                    else {
                        $('#payFeesBtn').addClass('hidden');
                    }
                    $.ajax({
                        type: 'POST',
                        data: { caseobjectid: $('#CaObject_CA_OBJECT_ID').val(), plan_review_status: 1 },
                        url: '@Url.Action("InsertPlanReviewStatus", "CreateApplication")',
                        success: function (result) {
                        }
                    });
                }
                else {
                    $('#uploadfile').hide();
                    $('#planreviewtag').show();
                    $('#planreviewtag').append("Your permit has been issued.  The permit number is: <b>@casenumber</b><br/>Please record the permit number and print all receipts and permits.");
            }
            *@

             /*   if(casetype == "GMBI_CBLD")
                {
                    if(sessionStorage.getItem("nocontractor") == "true")
                    {
                        $('#nocontract').show();
                        $('#nocontract').append("A contractor of record has not been added to this application. Please note, prior to the approval of this permit a licensed State of Florida contractor will be required. If the contractor has not registered with the City of Tallahassee please complete the City Contractor Registration form and fax the applicable information to (850) 891-0948 or email to the Permit Service Center.<br/>");
                    }
                    if(sessionStorage.getItem("licenseexpired") == "true")
                    {
                        $('#licenseexpired').show();
                        $('#licenseexpired').append("Our records indicate your State of Florida or Local License has expired.  Please fax a copy of the current license to (850) 891-0948 or email to the Permit Service Center.<br/>");
                    }
                    if(sessionStorage.getItem("glexpired") == "true")
                    {
                        $('#glexpired').show();
                        $('#glexpired').append("Our records indicate your General Liability has expired.  Please submit the certificate of insurance showing the City of Tallahassee as the certificate holder, by fax (850) 891-0948 or email to our Permit Service Center.<br/>");
                    }
                    if(sessionStorage.getItem("wcexpired") == "true")
                    {
                        $('#wcexpired').show();
                        $('#wcexpired').append("Our records indicate your Workers Compensation has expired.  Please submit the exemption certificate or a certificate of insurance showing the City of Tallahassee as the certificate holder, by fax (850) 891-0948 or email to our Permit Service Center.  Employee leasing companies must provide a roster if applicable.<br/>");
                    }
                }
                */
            });

            $('#triggerFile').on('click', function (e) {
                e.preventDefault()
                $("#pllMultiInputFiles").trigger('click')
            });
/*
            // upload files
            $("#pllUpload").on("click", function () {
                $('#load-modal').modal('show');
                var servicesUrl = config.servicesUrl;

                var params = {};
                params.LoginName = config.un;
                params.Password = config.pw;

                $.ajax({
                    async: false,
                    url: servicesUrl + "/services/Authentication/Authenticate",
                    type: 'POST',
                    data: { data: JSON.stringify(params) },
                    success: function (response) {
                        var token = response.Value.Token;
                        params = {};
                        params = {
                            CaObjectId: $('#CaObject_CA_OBJECT_ID').val(),
                            Location: "C:\\REL_DOCS"
                        }

                        var formData = new FormData();

                        $.each(document.getElementById('pllMultiInputFiles').files, function (index, file) {
                            formData.append('file', file);
                            formData.append('data', JSON.stringify(params));
                            formData.append('token', token);
                        });

                        $.ajax({
                            async: false,
                            url: servicesUrl + "/services/PLL/CaseRelDocs/AddCaseAttachmentToFileSystem",
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                $('#load-modal').modal('hide');
                                $('.modal-body').text("Files successfully attached.");
                                $('#successModal').modal('show');
                            },
                            error: function (response) {
                                console.log(response.responseText);

                            }
                        });

                    },
                    error: function (response) {
                        console.log(response.responseText);

                    }
                });

            });
*/
            // pay fees
            $("#payFeesBtn").on("click", function () {
                var caseNum = $('#CaObject_CASE_NUMBER').val();
                $.ajax({
                    async: false,
                    url: "@Url.Action("SearchNumber", "Payments")",
                    type: 'POST',
                    data: { caseNumber: caseNum },
                    success: function (response) {
                        //$('#test').html(response);
                        //window.location.href = response;
                        document.open();
                        document.write(response);
                        document.close();
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            });
        </script>
