﻿@model Portal.Models.ViewModel.CreateApplicationViewModel
@{
    ViewBag.Title = "Create Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Styles.Render("https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css")
@Scripts.Render("https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js")*@



 <h4 class="primary-text">Search Parent Permit Number</h4>
<div class="modal fade" id="parentError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                Please select a parent permit. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="parentError">Dismiss</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal fade" id="parentcasemainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                To proceed with a New, Addition or Alteration improvement type, you must select a permit with a status of "ISSUED" or "NOC HOLD". 
                <br/><br/>Please click "Next" to proceed with the application or "Cancel" to continue with the selection of parent permit.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="parentcancel">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="parentcaseModal">Next</button>    
            </div>
        </div>
    </div>
</div> -->

<div class="form-group label-floating">
    <div class="row">
        <div class="col-sm-6">
            <label class="control-label" for="Name">Enter Parent Permit Num.</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
        </div>
        <button id="searchParentBtn" class="btn btn-raised btn-primary">Search</button>
    </div>
</div>
<br />

<div id="parentPermits">
    @Html.Partial("CaseParentPartial", Model)
</div>

<br/>

<div class="col-sm-12">
    <div class="row">
        @Html.ActionLink("Cancel", "Welcome", "Home", null, new { @class = "btn btn-raised btn-primary" })
        @Html.ActionLink("Previous", "CaseStart", "CreateApplication", null, new { @class = "btn btn-raised btn-primary" })
        <button type="submit" id="next" class="btn btn-raised btn-primary hidden">Next</button>
    </div>
</div>

@* MODALS *@
@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Oops!</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>*@

@Scripts.Render("~/bundles/dataTables")
<script>

    // Allow single selection on table
    $(document).ready(function () {
        $('#searchParentTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });

    // Parent search validation
    $("#Step2Child").submit(function (event) {
        if ($('#CaObject_CASE_NUMBER').val() === '') {
            $('.modal-body').text('Please enter a parent case number.');
            $('#myModal').modal();
            event.preventDefault();
        }
    });

    // Search parent case functionality
    $('#searchParentBtn').click(function (event) {
        $.ajax({
            url: "@Url.Action("SearchParentCases", "CreateApplication")",
            type: 'POST',
            datatype: 'json',
            data: { caseNumber: $('#Name').val() },
            success: function (data) {
                $('#parentPermits').html(data);
                var table = $('#searchParentTable').DataTable({
                    select: true
                });
                $('#searchParentTable').removeClass('hidden');
                $('#next').removeClass('hidden');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $('#next').click(function () {
        $('#load-modal').modal('show'); // start load
        sessionStorage.removeItem("CASE_STATUS");
         var table = $('#searchParentTable').DataTable();
         var items = table.rows('.selected').data();
         var casestatus = (items.length) ? items[0][3] : 0;
         sessionStorage.setItem("CASE_STATUS", casestatus);
         if (casestatus!=0) { 
             var selectedRows = $.map(table.rows('.selected').data(), function (item) {
                 return parseFloat(item[7]); // returns ca_object_id of selected row
             });
          //   if (casestatus == "ISSUED" || casestatus == "NOC HOLD") {
                 $.ajax({
                     url: "@Url.Action("AddParentCase","CreateApplication")",
                     type: 'POST',
                     datatype: 'json',
                     data: { caObjId: selectedRows },
                     success: function (response) {
                         if (response.result == 'Redirect') {
                             $('#load-modal').modal('hide'); // hide load
                             window.location = response.url; // move to the next step
                         } else {
                             $('#load-modal').modal('hide');
                             alert("Error");
                         }
                     },
                     error: function (jqXHR, textStatus, errorThrown) {
                         alert(errorThrown);
                     }
                 });
         /*    }
             else
             {
                 $('#load-modal').modal('hide');
                 $('#parentcasemainModal').modal('show');
             }*/
         }
         else
         {
             $('#load-modal').modal('hide');
             $('#parentError').modal('show');
         }
    });

    $('#parentcancel').click(function () {
        $('#parentcaseModal').modal('hide');
    });
    $('#parentcaseModal').click(function () {
        var table = $('#searchParentTable').DataTable();
        var items = table.rows('.selected').data();
        var selectedRows = $.map(table.rows('.selected').data(), function (item) {
            return parseFloat(item[7]); // returns ca_object_id of selected row
        });
        $.ajax({
            url: "@Url.Action("AddParentCase","CreateApplication")",
            type: 'POST',
            datatype: 'json',
            data: { caObjId: selectedRows },
            success: function (response) {
                if (response.result == 'Redirect') {
                    $('#load-modal').modal('hide'); // hide load
                    window.location = response.url; // move to the next step
                } else {
                    $('#load-modal').modal('hide');
                    alert("Error");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
    });
    });
</script>