﻿@model Portal.Models.ViewModel.CreateApplicationViewModel
@{if (Model != null && Model.Addresses != null) { }
<table class="table table-bordered tableStyle" id="LocationTable">
    <thead>
        <tr>
            <th>LOCATION</th>
            <th>X</th>
            <th>Y</th>
        </tr>
    </thead>
    <tbody>
      
            @*{
                foreach (var item in Model.Addresses)
                {
            <tr>
                <td>
                    @Html.DisplayFor()
                </td>
                <td>
                    @Html.DisplayFor(item => item.CX)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CY)
                </td>
            </tr>
                    }
                }*@
           

    </tbody>
</table>
}

<script>
    //$(document).ready(function () {
    //    $('#searchNameTable').remove();
    //});
    //$('#searchNameTable').DataTable();
</script>