﻿@model Portal.Models.ViewModel.CreateApplicationViewModel

<table class="table table-bordered tableStyle hidden table-responsive" id="searchContractorTable">
    <thead>
        <tr>
            <th class="hidden"></th>
            <th class="hidden"></th>
            <th class="hidden"></th>
            <th><center>Contractor Name</center></th>
            <th>Contractor Type</th>
            <th>License Num</th>
            <th>License Expiry Date</th>
            <th class="hidden">General Liability Expiry Date</th>
            <th class="hidden">Work Compensation Expiry Date</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CaseContractor.ContractorList)
        {
            <tr>
                <td class="hidden">@Html.DisplayFor(m => item.ContractorId)</td>
                <td class="hidden">@Html.DisplayFor(m => item.ContractorTypeId)</td>
                <td class="hidden">@Html.DisplayFor(m => item.StateLicenseId)</td>
                <td>
                    @Html.DisplayFor(m => item.BUSINESS_NAME)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ContractorTypeDesc)
                </td>
                <td>
                    @Html.DisplayFor(m => item.License_Num)
                </td>
                <td>
                    @Html.DisplayFor(m => item.LICENSE_EXPIRATION_DATE)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(m => item.GEN_LIABILITY_EXP_DATE)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(m => item.WC_LIABILITY_EXPIRE_DATE)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ADDRESS_LINE1)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ADDRESS_LINE2)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CITY_NAME)
                </td>
                <td>
                    @Html.DisplayFor(m => item.STATE_CODE)
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" id="addcontractor" class="btn btn-default ">Add</button>
<br/><br/><br/>
<div id="textmessage" style="color:#e50000;font-size:14px;"></div>
<table class="table table-bordered tableStyle table-responsive" id="selectedContractor">
    <thead>
        <tr>
            <th class="hidden"></th>
            <th class="hidden"></th>
            <th class="hidden"></th>
            <th>Contractor Name</th>
            <th>Contractor Type</th>
            <th>License Num</th>
            <th>License Expiry Date</th>
            <th class="hidden">General Liability Expiry Date</th>
            <th class="hidden">Work Compensation Expiry Date</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br/>
<button type="button" id="removecontractor" class="btn btn-default ">Remove</button>
<script src="../scripts/parsley.min.js"></script>
<script>

    $(document).ready(function () {
        $('#searchContractorTable').DataTable({
            select: true
        });
        $('#selectedContractor').DataTable({
            select: true
        });
        
    });

    $('#addcontractor').click(function (event) {
        var recordexistsflag;
        // Append selected table row to selected users
        var contractorTable = $('#searchContractorTable').DataTable();
        var selectedTable = $('#selectedContractor').DataTable();
        var items = contractorTable.rows('.selected').data();
        var addeditems = selectedTable.data();
        if (items.length) {
            for (var i = 0; i < addeditems.length; i++)
            {
                if (items[0][0] == addeditems[i][0])
                {
                    recordexistsflag = 1;
                    break;
                }
            }
            if (!recordexistsflag)
            {
                $('#textmessage').html("");
                var list = 
                selectedTable.row.add(
                    items[0]
                ).draw();
                $('table#selectedContractor td:nth-child(1)').hide();
                $('table#selectedContractor td:nth-child(2)').hide();
                $('table#selectedContractor td:nth-child(3)').hide();
                $('table#selectedContractor td:nth-child(8)').hide();
                $('table#selectedContractor td:nth-child(9)').hide();
            }
            else
            {
                $('#textmessage').html("<center>This contractor is already added.</center>").fadeIn();
                $('#textmessage').delay(1000).fadeOut();
            }
        }
        else {
            $('#load-modal').modal('hide');
            $('#myModal').modal();
        }
    });

    $('#removecontractor').click(function (event) {
        $('#textmessage').html("");
        var table = $('#selectedContractor').DataTable();
        table.row('.selected').remove().draw(false);
    });
</script>