﻿@model Portal.Models.ViewModel.CreateApplicationViewModel


@if (Model.CaseType.SubTypes.Any())
{
    <div class="form-group label-floating">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label" for="SelectedSubType">Sub-Type</label>
                @Html.DropDownListFor(model => Model.CaseType.SelectedSubType, Model.CaseType.SubTypes,  new { @class = "form-control", @required = "required" })
            </div>
        </div>
    </div>
}



