﻿@model Portal.Models.ViewModel.CreateApplicationViewModel
@{
    ViewBag.Title = "Step 7/7 - Case Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Linq

@using (Html.BeginForm("SubmitCase", "CreateApplication", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-sm-12", @id = "submit-case" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Permit Info Summary
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <label>Permit Type:</label>   @Html.DisplayFor(m => m.CaseType.SelectedCaseType)

            @if(Model.CaseType.SelectedCaseGroup!=null)
            { 
            <p>Case Group:   @Html.DisplayFor(m => m.CaseType.SelectedCaseGroup)</p>
            }
            @if(Model.CaseType.SelectedCaseType!=null)
            { 
            <p>Case Type:   @Html.DisplayFor(m => m.CaseType.SelectedCaseType)</p>
            }
            @for (var i = 0; i < Model.Addresses.Count; i++)
            {
                <p>Address: @Html.DisplayFor(m => m.Addresses[i].Location)</p>
                if (Model.Addresses[i].XCoord != null)
                {
                    <p>CX: @Html.DisplayFor(m => m.Addresses[i].XCoord)</p>
                }
                if (Model.Addresses[i].YCoord != null)
                {
                    <p>CY: @Html.DisplayFor(m => m.Addresses[i].YCoord)</p>
                }

            }

            @if (Model.ParentCase.Count > 0)
            {
                if(Model.ParentCase[0].CASE_GROUP !=null)
                {
                <p>Parent Case Group:   @Html.DisplayFor(m => m.ParentCase[0].CASE_GROUP)</p>
                }
                if(Model.ParentCase[0].CASE_TYPE !=null)
                {
                    <p>Parent Case Type:   @Html.DisplayFor(m => m.ParentCase[0].CASE_TYPE)</p>
                }
                if(Model.ParentCase[0].CASE_TYPE_DESC !=null)
                { 
                    <p>Parent Case Number:   @Html.DisplayFor(m => m.ParentCase[0].CASE_TYPE_DESC)</p>
                }
                if (Model.ParentCase[0].LOCATION!=null)
                {
                    <p>Location:   @Html.DisplayFor(m => m.ParentCase[0].LOCATION)</p>  
                }
                if (Model.ParentCase[0].CX!=null)
                {
                    <p>CX:   @Html.DisplayFor(m => m.ParentCase[0].CX)</p>
                }
                if(Model.ParentCase[0].CY!=null)
                {
                    <p>CY:   @Html.DisplayFor(m => m.ParentCase[0].CY)</p>
                }
            }
            @{ List<string> contractorlist = (List<string>)Session["data"];}
            @if(contractorlist!=null)
            { 
                foreach(var contractor in contractorlist)
                {              
                    <p> @Html.Raw(contractor)</p>       
                }
            }
        </div>
    </div>
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">Permit Data Details Summary<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
        @if (@Html.DisplayFor(m => m.CaseType.SelectedCaseType).ToString() != "GMLU_ZONE")
        {
        <div class="panel-body" >
            <table border="1" cellpadding="10">
                <thead><td align="center">Description</td><td align="center">Value</td></thead>
                @for (var i = 0; i < Model.DataDetailsList.Count; i++)
                {
                    if (Model.DataDetailsList[i].CheckboxFlag == "Y")
                    {
                        <tr>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)</td>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].CheckboxValue)</td>
                        </tr>
                    }
                    else if (Model.DataDetailsList[i].CommentFlag == "Y" && @Html.DisplayFor(m => m.DataDetailsList[i].CommentValue).ToString()!="")
                    {
                        <tr>
                           <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)</td>
                           <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].CommentValue)</td>
                        </tr>
                    }
                    else if (Model.DataDetailsList[i].DateFlag == "Y" && @Html.DisplayFor(m => m.DataDetailsList[i].DateValue).ToString()!="")
                    {
                        <tr>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)</td>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].DateValue)</td>
                        </tr>
                    }
                    else if (Model.DataDetailsList[i].ListValuesFlag == "Y" && @Html.DisplayFor(m => m.DataDetailsList[i].ListValue).ToString()!="")
                    {
                        <tr>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)</td>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].ListValue)</td>
                        </tr>
                    }
                    else if (Model.DataDetailsList[i].NumberFlag == "Y" && @Html.DisplayFor(m => m.DataDetailsList[i].NumberValue).ToString()!="0.00")
                    {
                        <tr>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)</td>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].NumberValue)</td>
                        </tr>
                    }
                    else if (Model.DataDetailsList[i].ValueFlag == "Y" && @Html.DisplayFor(m => m.DataDetailsList[i].Quantity).ToString()!="0.00")
                    {
                        <tr>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)</td>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].Quantity)</td>
                        </tr>
                    }
                    else if (Model.DataDetailsList[i].TextFlag == "Y" && @Html.DisplayFor(m => m.DataDetailsList[i].TextValue).ToString()!="")
                    {
                        <tr>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)</td>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].TextValue)</td>
                        </tr>
                    }
                    else if (Model.DataDetailsList[i].YesNoFlag == "Y" && @Html.DisplayFor(m => m.DataDetailsList[i].YesNoValue).ToString()!="")
                    {
                        <tr>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].DetailDesc)</td>
                            <td style="padding-left: 10px; padding-right: 10px;">@Html.DisplayFor(m => m.DataDetailsList[i].YesNoValue)</td>
                        </tr>
                    }
                }
            </table>
           
        </div>
        }
    </div>
   <!-- <div class="alert alert-warning" role="alert" id="disclaimer-container">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="disclaimer-check" /><strong>  I AGREE</strong>
            </label>
        </div>
    </div>
    -->


    <div class="col-sm-12">
        <div class="row">
            @Html.ActionLink("Cancel", "Welcome", "Home", null, new { @class = "btn btn-raised btn-primary" })
            <button class="btn btn-raised btn-primary" onclick="history.go(-1); return false;">Previous</button>
            <button type="submit" id="save" class="btn btn-raised btn-primary">Submit Case</button>
        </div>
    </div>
}

<script>
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
    });
    @*
    $(function () {
        $('input:checkbox:not(:checked)').parent().parent().hide();             //Hide all unchecked checkboxes.
        $('.checkbox').show();                                                  //Show disclaimer checkbox.
        
        $('#save').prop('disabled', true);
        var casetype = '@Html.DisplayFor(m => m.CaseType.SelectedCaseType)';
        var casesubtype = '@Html.DisplayFor(m=>m.CaseType.SelectedSubType)';
        if(casetype == "GMBI_GAS" || casetype == "GMBI_LCGT")
        {
            $('#disclaimer-check').show();
            $("#disclaimer-container").append("I, the listed Gas Contractor, acknowledge that the City of Tallahassee, pursuant to ordinance, is waiving the fee for a gas service tap and service line on the express condition that the user installs a natural gas fired water heater or furnace. I certify that I have a contract with the listed owner at the listed job address, for the installation of a natural gas fired water heater or furnace. In the event I do not install such appliance and the appliance is not consuming gas within 45 days of this certification, I will immediately notify the City Gas Division and Growth Management. I understand that service will be disconnected and will not be reestablished until the fee is paid for the Gas tap and service line. <br/><br/><b>NOTE: </b>I, the listed Gas Contractor, have confirmed that gas mains are located within 100 feet of the above listed job address.<br/><br/><b>ALL gas taps require a City Of Tallahassee Utility Account.  Work orders for Taps & Meter Sets cannot be sent if an account has not been established.</b>");
        }
        else if(casetype == "GMBI_ROOF")
        {
            $("#disclaimer-container").append("Florida Statutes 489-113(3)(b) indicates that: 'A general, building, or residential contractor shall not be required to subcontract the installation of wood shingles, wood shakes, asphalt or fiberglass shingle roofs on a new building of his own construction. The contractor obtaining this roof permit shall use his/hers own employees (personnel presently on the payroll). Florida Statutes: 489.113(3)(g) indicates that: 'No general, building or residential contractor certified after 1973 shall act as, hold himself out to be, or advertise himself to be a roofing contractor unless he is certified or registered as a roofing contractor.' Last certified contractor # that is permitted to pull roofing permit is 0007837.");
        }
        else if(casetype == "GMBI_AS")
        {
            if(casesubtype == "GMBI_AS")
                $("#disclaimer-container").append("I, the listed Plumbing/Gas contractor, acknowledge that the City of Tallahassee, pursuant to GMD Policy 318RGM, shall mail the purchased Appliance Stickers by the next business day.  I also understand that the City of Tallahassee, Building Inspection Division is not responsible for Appliance Stickers not received in the mail.");
            else if (casesubtype == "GMBI_ASP" || casesubtype == "GMBI_ASG")
                {
                $("#disclaimer-container").append("I, the listed Plumbing/Gas Contractor, acknowledge that the replacement appliance/device(s) shall be installed in accordance with the manufacturer’s instructions and the Florida Building Code. The appliance/device(s) being replaced are limited to those approved through Growth Management Policy 318GM and my employee doing the replacement has taken the Appliance Sticker Program training.");
                if(casesubtype == "GMBI_ASP")
                    $("#disclaimer-container").append("<br/><br/> I understand that I may be contacted by the City of Tallahassee Inspector, to schedule an inspection for the permitted appliance/device(s), to ensure compliance of the code has been met.");
                }
         }
        else if(casetype == "GMBI_CBLD" && sessionStorage.getItem("nocontractor") == "true")
        {
            $("#disclaimer-container").append("A contractor of record has not been added to this application. Please note, prior to the approval of this permit a licensed State of Florida contractor will be required. If the contractor has not registered with the City of Tallahassee please complete the City Contractor Registration form and fax the applicable information to (850) 891-0948 or email to the Permit Service Center.");
        }
        else
        {
            $("#disclaimer-container").hide();
            $('#save').prop('disabled', false);
        }
    });
    $('#disclaimer-check').change(function () {
        if (this.checked) {
            $('#disclaimer-container').removeClass('alert-warning').addClass('alert-success');
            $('#save').prop('disabled', false);
        } else {
            $('#disclaimer-container').removeClass('alert-success').addClass('alert-warning');
            $('#save').prop('disabled', true);
        }
    });

*@
    $(function () {
        $('input:checkbox:not(:checked)').parent().parent().hide();             //Hide all unchecked checkboxes.
        $('.checkbox').show();
    });
    $("#submit-case").submit(function (event) {
        $('#load-modal').modal('show');
    });
</script>