﻿@model Portal.Models.ViewModel.CreateApplicationViewModel
@{
    ViewBag.Title = "Create Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CaseStart", "CreateApplication", FormMethod.Post, new { @class = "col-sm-12", @id = "caseStart" }))
{
    <h4 class="primary-text">Select Application Type</h4>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(x => x.ChildOrStandAlone, "Child")Child Permit
                    </label>
                </div>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(x => x.ChildOrStandAlone, "Stand-Alone")Standalone Permit
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group label-floating">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label" for="Name">Enter Project Name</label>
                @Html.TextBoxFor(model => model.CaObject.CASE_NAME, new { @class = "form-control", required = "required" })
            </div>
        </div>
    </div>

    @Html.ActionLink("Cancel", "Welcome", "Home", null, new { @class = "btn btn-raised btn-primary" })
    <button type="submit" class="btn btn-raised btn-primary">Next</button>

}

<div id="load-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header"></div>
                <div id="divLoading" class="text-center">
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#caseStart').submit(function () {

        $('#load-modal').modal('show');
    });
</script>