﻿@model Portal.Models.ViewModel.CreateApplicationViewModel

<table class="table table-bordered tableStyle hidden" id="searchParentTable">
    <thead>
        <tr>
            <th>Case Number</th>
            <th>Case Type</th>
            <th>Case Type Desc</th>
            <th>Case Status</th>
            <th>Location</th>
            <th>CX</th>
            <th>CY</th>
            <th class="hidden"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParentCase)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.CASE_NUMBER)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CASE_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CASE_TYPE_DESC)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CASE_STATUS)
                </td>
                <td>
                    @Html.DisplayFor(m => item.LOCATION)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CX)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CY)
                </td>
                <td class="hidden">
                    @Html.DisplayFor(m => item.CA_OBJECT_ID)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
   
</script>