﻿@model Portal.Models.ViewModel.CreateApplicationViewModel

<table class="table table-bordered tableStyle table-responsive" id="searchNameTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.People.PeopleList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ADDRESS_LINE1)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ADDRESS_LINE2)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CITY_NAME)
                </td>
                <td>
                    @Html.DisplayFor(m => item.STATE_CODE)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ZIP_CODE)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PHONE_HOME)
                </td>
                <td>
                    @Html.DisplayFor(m => item.EMAIL)
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="button" id="add" class="btn btn-default ">Add</button>
<button type="button" id="addCustom" class="btn btn-default ">Add New Contact</button>

<br />
<br />
<br />

<table class="table table-bordered tableStyle table-responsive" id="selectedPeople">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<br />

<div class="hidden" id="roleList">
    <select class="form-control">
        <option value="">Select Role</option>
   @*    @if (Model.CaseType.SelectedCaseType == "GMLU_TYPEA" || Model.CaseType.SelectedCaseType == "GMLU_PP" || Model.CaseType.SelectedCaseType == "GMLU_LP" || Model.CaseType.SelectedCaseType == "GMLU_CONC")
    {
        <option value="1">Applicant</option>
        <option value="2">Property Owner</option>
        <option value="7">Agent</option>
    }
    else if (Model.CaseType.SelectedCaseType == "GMLU_LUCC" || Model.CaseType.SelectedCaseType == "GMLU_ZONE")
    {
        <option value="1">Applicant</option>
    }
    else
    {
*@ 
            @foreach (var i in Model.People.Roles)
            {
                <option value="@i.ROLE_ID">@i.ROLE_DESC</option>
            }
   @*  } *@
    </select>
</div>

<button type="button" id="remove" class="btn btn-default ">Remove</button>
<!--<button type="button" id="edit" class="btn btn-default ">Edit Contact</button>-->
<script src="../scripts/parsley.min.js"></script>
<script>

    $(document).ready(function () {
        $('#searchNameTable').DataTable({
                select: true
        });
        $('#selectedPeople').DataTable({
                select: true
        });
        });

    // Add click
    $('#add').click(function (event) {
        // Append selected table row to selected users
        var nameTable = $('#searchNameTable').DataTable();
        var selectedTable = $('#selectedPeople').DataTable();
        var items = nameTable.rows('.selected').data();
        if (items.length)
        {
            $('#next').prop("disabled", false);
            var roles = $('#roleList').html();
            items[0].push(roles);
            selectedTable.row.add(
                items[0]
            ).draw();
        }
      else
        {
            $('#load-modal').modal('hide');
            $('#myModal').modal();
        }
    });

    // Add custom user click
    $('#addCustom').click(function (event) {
        $("label").addClass("control-label").css("font-size","");
        $('#addFromModal').show();
        $('#update').hide();
        $('#name').val("");
        $('#addr1').val("");
        $('#addr2').val("");
        $('#city').val("");
        $('#zip').val("");
        $('#phone').val("");
        $('#email').val("");
        $('#customUser').modal('show');
        $('#h3').html("Add New Contact");
    });
/*
    $('#edit').click(function (event) {
        $("label").removeClass("control-label").css("font-size","12px");
        $('#update').show();
        $('#addFromModal').hide();
        var selectedTable = $('#selectedPeople').DataTable();
        var selectedrows = selectedTable.rows().data();
        var items = selectedTable.rows('.selected').data();
        if (items.length>0)
        {
            $('#customUser').modal('show');
            $('#h3').html("Edit Contact Information");
            $('#name').val(items[0][0]);
            $('#addr1').val(items[0][1]);
            $('#addr2').val(items[0][2]);
            $('#city').val(items[0][3]);
            $('#state').val(items[0][4]);
            $('#zip').val(items[0][5]);
            $('#phone').val(items[0][6]);
            $('#email').val(items[0][7]);
        }
    });
    */
    // Add user from modal
    $('#addFromModal').click(function (event) {
        if (!$('#newPerson').parsley().validate())
            return;
        var arr = [
            $('#name').val(),
            $('#addr1').val(),
            $('#addr2').val(),
            $('#city').val(),
            $('#state').val(),
            $('#zip').val(),
            $('#phone').val(),
            $('#email').val(),
            $('#roleList').html()
        ];
        var selectedTable = $('#selectedPeople').DataTable();
        selectedTable.row.add(
            arr
        ).draw();
        $('#next').prop("disabled", false);
        $('#customUser').modal('hide');
    });

    $('#update').click(function (event) {
        if (!$('#newPerson').parsley().validate())
            return;
        var arr = [
            $('#name').val(),
            $('#addr1').val(),
            $('#addr2').val(),
            $('#city').val(),
            $('#state').val(),
            $('#zip').val(),
            $('#phone').val(),
            $('#email').val(),
            $('#roleList').html()
        ];
        var selectedTable = $('#selectedPeople').DataTable();
        selectedTable.row('.selected').remove().draw(false);
        selectedTable.row.add(         
            arr
        ).draw();
        $('#customUser').modal('hide');
    });


    // Remove click
    $('#remove').click(function (event) {
        var table = $('#selectedPeople').DataTable();
        table.row('.selected').remove().draw(false);
        var removeitems = table.rows().data();
        if(removeitems.length<=0)
        {
            $('#next').prop("disabled", true);
        }
    });

    // Submit
    $('#next').click(function () {
        $('#load-modal').modal('show'); // start load
        var people = [];
        var roleflag = 0;
        var applicantflag = 0;
        var casetype = "@Html.DisplayFor(m => m.CaseType.SelectedCaseType).ToString()";
        var table = $('#selectedPeople').DataTable();
        var items = table.data();
        if (items.length > 0) {
            for (var i = 0; i < items.length; i++) {
                var person = {
                    Name: null,
                    Address1: null,
                    Address2: null,
                    City: null,
                    State: null,
                    ZipCode: null,
                    PhoneNumber: null,
                    Email: null,
                    RoleId: null
                }
                person.Name = items[i][0];
                person.Address1 = items[i][1];
                person.Address2 = items[i][2];
                person.City = items[i][3];
                person.State = items[i][4];
                person.ZipCode = items[i][5];
                person.PhoneNumber = items[i][6];
                person.Email = items[i][7];
                person.RoleId = table.$('select option:selected')[i].value;
                if (person.RoleId == "") {
                    roleflag = 1;
                    break;
                }
                people.push(person);
            }
            /*      if (casetype == "GMLU_TYPEA" || casetype == "GMLU_TYPEB" || casetype == "GMLU_LP" || casetype == "GMLU_PP" || casetype == "GMLU_PRCON" || casetype == "GMLU_CITYC" || casetype == "GMLU_ZONE" || casetype == "GMLU_LUCC" || casetype == "GMLU_PRSUB") {
                  for (var i = 0; i < people.length; i++) {
                      if (people[i].RoleId == "1") {
                          applicantflag = 1;
                          break;
                      }
                      else {
                          applicantflag = 0;
                      }
                  }
             } */
            /*    else
                        applicantflag = 1;
                   }
        */
            // people = JSON.stringify({ 'people': people });
            //     if (applicantflag)
            //     {
            if (roleflag) {
                $('#load-modal').modal('hide');
                $('#roledialog').modal();
            }
            else {
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: "@Url.Action("AddPeople", "CreateApplication")",
                    data: JSON.stringify(people),
                    success: function (response) {
                        if (response.result == 'Redirect') {
                            $('#load-modal').modal('hide');
                            window.location = response.url;
                        } else {
                            $('#load-modal').modal('hide');
                            alert("Error");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
            /*   }
               else
               {
                   $('#load-modal').modal('hide');
                   $('#myModal1').modal();
               }     
               */
        }
    });
</script>