﻿@using Portal.Models.ViewModel
@model Portal.Models.ViewModel.CreateApplicationViewModel
@{
    ViewBag.Title = "Create Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    @if (Model.CaseType.SelectedCaseType == "GMBI_CBLD")
    {
        <div class="divwidth"><b>Commercial Building Permit: </b><br /><br/>At a minimum to apply, you must list the Property Owner and Applicant.  The Applicant will be the main contact for the project.  The Applicant receives notifications related to fees and any issues with documentation being submitted.  All contacts listed with a valid email address will be sent an invitation to access the City Projects, ProjectDox website, where this project will be reviewed.<br /><br/>Please list the Architect and/or Engineer affiliated with the project.  If the Applicant is the Contractor, Architect or Engineer of record, you must enter your information as the Applicant and your professional affiliation to the project.<br /><br />Owners Information must be entered as it is recorded on the deed and listed on the Owner's Affidavit.</div><br />
    }
    else if (Model.CaseType.SelectedCaseType == "GMBI_AS" || Model.CaseType.SelectedCaseType == "GMBI_ELEC" || Model.CaseType.SelectedCaseType == "GMBI_GAS" || Model.CaseType.SelectedCaseType == "GMBI_LCGT" || Model.CaseType.SelectedCaseType == "GMBI_MECH" || Model.CaseType.SelectedCaseType == "GMBI_PLUM" || Model.CaseType.SelectedCaseType == "GMBI_ROOF")
    {
        <div class="divwidth"><b>Sub Trade Permits: </b><br/><br/>At a minimum to apply, you must list the Property Owner.  Owners Information must be entered as it is recorded on the deed.</div><br />
    }
    else if (Model.CaseType.SelectedCaseType == "GMLU_TYPEB" || Model.CaseType.SelectedCaseType == "GMLU_TYPEA" || Model.CaseType.SelectedCaseType == "GMLU_PP" || Model.CaseType.SelectedCaseType == "GMLU_LP" || Model.CaseType.SelectedCaseType == "GMLU_PRCON" || (Model.CaseType.SelectedCaseType == "GMLU_CONC" && Model.CaseType.SelectedSubType == "GMLU_CITYC"))
    {
        <div class="divwidth">Please Note: At least one Owner and one Applicant must be specified. The Applicant will be the main contact for the project who will be notified of fees and any issues with the documentation submittals. All persons listed with a valid email address will be sent an invitation to access the City Projects ProjectDox site where this project will be reviewed.</div><br />
    }
*@
<h4 class="primary-text">Search or Add People</h4>
<div id="appendtext" class="divwidth"></div>
<div class="form-group label-floating">
    <div class="row">
        <div class="col-xs-6">
            <label class="control-label" for="Name">Enter Name</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <button id="searchPeopleBtn" class="btn btn-raised btn-primary">Search</button>
    </div>
</div>

<br />

<div class="hidden" id="people">
    @Html.Partial("CasePeoplePartial", Model)
</div>

<div id="customUser" class="modal fade" tabindex="-1">
    <form id="newPerson">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="h3" class="modal-title" style="text-align:center"></h3>
                </div>
                <div class="modal-body">
                    <div class="form-group label-floating">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <label class="control-label" for="name">Name</label>
                                <input class="form-control" id="name" name="name" type="text" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group label-floating">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <label class="control-label" for="addr1">Address 1</label>
                                <input class="form-control" id="addr1" name="addr1" type="text" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group label-floating">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <label class="control-label" for="addr2">Address 2</label>
                                <input class="form-control" id="addr2" name="addr2" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group label-floating">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <label class="control-label" for="city">City</label>
                                <input class="form-control" id="city" name="city" type="text" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <label class="control-label" for="state">State</label>
                                <select id="state" name="state" class="form-control">
                                    <option value="FL">Florida</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group label-floating">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <label class="control-label" for="zip">Zip</label>
                                <input class="form-control" id="zip" name="zip" type="number" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group label-floating">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <label class="control-label" for="phone">Phone</label>
                                <input class="form-control" id="phone" name="phone" type="tel" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group label-floating">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <label class="control-label" for="email">Email</label>
                                <input class="form-control" id="email" name="email" type="email" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addFromModal" type="button" class="btn btn-raised btn-primary">Add</button>
                    <button id="update" type="button" class="btn btn-raised btn-primary">Update</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Warning!</h4>
            </div>
            <div class="modal-body">
                <p>Please select a contact.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!--
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                At least one of the selected contact roles must be an Applicant.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>
-->

<div class="modal fade" id="roledialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                Please select a role.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>


<br />
<br />

@Html.ActionLink("Cancel", "Welcome", "Home", null, new { @class = "btn btn-raised btn-primary" })
<button class="btn btn-raised btn-primary" onclick="history.go(-1)">Previous</button>
<button type="submit" id="next" class="btn btn-raised btn-primary hidden">Next</button>

@Scripts.Render("~/bundles/dataTables")

<script>

    $(document).ready(function () {
       
    });
    var test;
    // Search people
    $('#searchPeopleBtn').click(function (event) {
        $('#load-modal').modal('show'); // start load
        
        $.ajax({
            url: "@Url.Action("SearchPeople", "CreateApplication")",
            type: 'POST',
            datatype: 'json',
            data: { name: $('#Name').val() },
            success: function (data) {
                
                $('#people').html(data);
                $('#people').removeClass('hidden');
                $('#next').removeClass('hidden');
                $('#next').prop("disabled", true);
                $('#load-modal').modal('hide'); // end load
            },
            error: function (jqXhr, textStatus, errorThrown) {             
                $('#load-modal').modal('hide'); // end load
                alert(errorThrown);
            }/*,
            
            complete: function (data) {
                $('#appendtext').html("<p>Please select a contact from the table and click 'ADD'. If the contact you are looking for does not exist, add a new contact. Select 'ADD NEW CONTACT' and fill in the contact details. Make sure to select a role before proceeding with the application.</p>");
            }
            */
        });
    });


   
</script>