﻿
@model Portal.Models.ViewModel.CreateApplicationViewModel

<table class="table table-bordered tableStyle table-responsive" id="selectedPeople">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.People.PeopleList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ADDRESS_LINE1)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ADDRESS_LINE2)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CITY_NAME)
                </td>
                <td>
                    @Html.DisplayFor(m => item.STATE_CODE)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ZIP_CODE)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PHONE_HOME)
                </td>
                <td>
                    @Html.DisplayFor(m => item.EMAIL)
                </td>
                <td>
                    <select class="form-control">
                        @foreach (var i in Model.People.Roles)
                        {
                            <option value="@i.ROLE_ID">@i.ROLE_DESC</option>
                        }
                    </select>

                </td>
            </tr>
        }
    </tbody>
</table>

<br />




