﻿@model IEnumerable<Portal.Models.DB.CA_FEES_VW>

<div class="panel">
    <div class="panel-heading">
        Fees
    </div>
    <div class="panel-body">

        <table class="table">
            <tr>
                <th>Fee Code</th>
                <th>Fee Desc.</th>
                <th>Amount</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FEE_CODE)</td>
                    <td>@Html.DisplayFor(modelItem => item.FEE_DESC)</td>
                    <td>@Html.DisplayFor(modelItem => item.AMOUNT)</td>
                </tr>
            }
        </table>
    </div>
</div>