﻿@model IEnumerable<Portal.Models.DB.CA_OBJECT_VW>



@foreach (var item in Model)
{
<div class="panel panel-primary">
    <div class="panel-heading">
        Permit Info
    </div>
    <div class="panel-body">
        <p class="text-bold">
            Case Number:
            <label>@Html.DisplayFor(modelItem => item.CASE_NUMBER)</label>
        </p>
        <p class="text-bold">
            Case Group:
            <label>@Html.DisplayFor(modelItem => item.CASE_GROUP)</label>
        </p>
        <p class="text-bold">
            Case Type:
            <label>@Html.DisplayFor(modelItem => item.CASE_TYPE)</label>
        </p>
        <p class="text-bold">
            Case Status:
            <label>@Html.DisplayFor(modelItem => item.CASE_STATUS)</label>
        </p>
        <p class="text-bold">
            Location:
            <label>@Html.DisplayFor(modelItem => item.LOCATION)</label>
        </p>
        <p class="text-bold">
            Date Issued:
            <label>@Html.DisplayFor(modelItem => item.DATE_ISSUED)</label>
        </p>
    </div>
</div>
}