﻿@model IEnumerable<Portal.Models.DB.CA_TASK_VW>

<div class="panel panel-primary">
    <div class="panel-heading">
        Tasks
    </div>
    <div class="panel-body">

        <table class="table">
            <tr>
                <th>Task Desc.</th>
                <th>Task Code</th>
                <th>Task Type</th>
                <th>Task Result</th>
                <th>Date Completed</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TASK_DESC)</td>
                    <td>@Html.DisplayFor(modelItem => item.TASK_CODE)</td>
                    <td>@Html.DisplayFor(modelItem => item.TASK_TYPE)</td>
                    <td>@Html.DisplayFor(modelItem => item.RESULT_CODE)</td>
                    <td>@Html.DisplayFor(modelItem => item.TASK_COMPLETE_DATE)</td>
                </tr>
            }
        </table>
    </div>
</div>
