﻿@model IEnumerable<Portal.Models.DB.CA_ADDRESS_VW>

<div class="panel panel-primary">
    <div class="panel-heading">
        Location
    </div>
    <div class="panel-body">

        <table class="table">
            <tr>
                <th>Asset ID</th>
                <th>Asset Type</th>
                <th>Address</th>
                <th>X Coord</th>
                <th>Y Coord</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ASSET_ID)</td>
                    <td>@Html.DisplayFor(modelItem => item.ASSET_TYPE)</td>
                    <td>@Html.DisplayFor(modelItem => item.ADDRESS)</td>
                    <td>@Html.DisplayFor(modelItem => item.X_COORD)</td>
                    <td>@Html.DisplayFor(modelItem => item.Y_COORD)</td>
                </tr>
            }
        </table>
    </div>
</div>