﻿@model IEnumerable<Portal.Models.DB.CA_INSPECTION_REQ_VW>


<div class="panel panel-primary">
    <div class="panel-heading">
        Inspections
    </div>
    <div class="panel-body">

        <table class="table">
            <tr>
                <th>Inspection Type</th>
                <th>Inspection Type Desc.</th>
                <th>Status</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CASE_TYPE)</td>
                    <td>@Html.DisplayFor(modelItem => item.CASE_TYPE_DESC)</td>
                    <td>@Html.DisplayFor(modelItem => item.CASE_STATUS)</td>
                </tr>
            }
        </table>
    </div>
</div>