﻿@model IEnumerable<Portal.Models.DB.CA_PAYMENT_VW>

<div class="panel panel-primary">
    <div class="panel-heading">
        Payments
    </div>
    <div class="panel-body">

        <table class="table">
            <tr>
                <th>Fee Code</th>
                <th>Fee Desc.</th>
                <th>Fee Amount</th>
                <th>Payment Amount</th>
                <th>Tender Type</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FEE_CODE)</td>
                    <td>@Html.DisplayFor(modelItem => item.FEE_DESC)</td>
                    <td>@Html.DisplayFor(modelItem => item.FEE_AMOUNT)</td>
                    <td>@Html.DisplayFor(modelItem => item.PAYMENT_AMOUNT)</td>
                    <td>@Html.DisplayFor(modelItem => item.TENDER_DESC)</td>
                </tr>
            }
        </table>
    </div>
</div>