﻿@model IEnumerable<Portal.Models.DB.CA_PEOPLE_VW>
<div class="panel panel-primary">
    <div class="panel-heading">
        People
    </div>
    <div class="panel-body">

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NAME)</td>
                    <td>@Html.DisplayFor(modelItem => item.ROLE_DESC)</td>
                </tr>
            }
        </table>
    </div>
</div>