@{
    ViewBag.Title = "Permit Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Icon = @"<i class=""fa fa-folder-open-o""></i>";
}


<div id="permitInfoPanel"></div>
<div id="permitLocationPanel"></div>
<div id="permitPeople"></div>
<div id="permitTasks"></div>
<div id="permitInspections"></div>
<div id="permitFees"></div>
<div id="permitPayments"></div>
<div id="permitPrint">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Print Info
        </div>
        <div class="panel-body">
            <button onclick="window.print();" class="btn btn-default">Print</button>
        </div>
    </div>
</div>



<script>

    $(document).ajaxStart(function () {
        $('#load-modal').modal('show');
    }).ajaxStop(function () {
        $('#load-modal').modal('hide');
    });

    $(document).ready(function () {

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        var permit = getUrlParameter('permitNum');

        $.ajax({

            url: "@Url.Action("GetPermitInfo", "PermitInfo")",

            type: 'Get',
            data: { permitNum: permit },
            success: function (data) {
                $("#permitInfoPanel").append(data);
            },
            error: function () {
                alert("something seems wrong");
            }
        });

        $.ajax({

            url: "@Url.Action("GetPermitLocation", "PermitInfo")",
            type: 'Get',
            data: { permitNum: permit },
            success: function (data) {
                $("#permitLocationPanel").append(data);
            },
            error: function () {
                alert("something seems wrong");
            }
        });

        $.ajax({

            url: "@Url.Action("GetPermitPeople", "PermitInfo")",
            type: 'Get',
            data: { permitNum: permit },
            success: function (data) {
                $("#permitPeople").append(data);
            },
            error: function () {
                alert("something seems wrong");
            }
        });

        $.ajax({

            url: "@Url.Action("GetPermitTasks", "PermitInfo")",
            type: 'Get',
            data: { permitNum: permit },
            success: function (data) {
                $("#permitTasks").append(data);
            },
            error: function () {
                alert("something seems wrong");
            }
        });

        $.ajax({

            url: "@Url.Action("GetPermitInspections", "PermitInfo")",
            type: 'Get',
            data: { permitNum: permit },
            success: function (data) {
                $("#permitInspections").append(data);
            },
            error: function () {
                alert("something seems wrong");
            }
        });


        $.ajax({

            url: "@Url.Action("GetPermitFees", "PermitInfo")",
            type: 'Get',
            data: { permitNum: permit },
            success: function (data) {
                $("#permitFees").append(data);
            },
            error: function () {
                alert("something seems wrong");
            }
        });

        $.ajax({

            url: "@Url.Action("GetPermitPayments", "PermitInfo")",
            type: 'Get',
            data: { permitNum: permit },
            success: function (data) {
                $("#permitPayments").append(data);
            },
            error: function () {
                alert("something seems wrong");
            }
        });
    });
</script>
