﻿@model IEnumerable<Portal.Models.DB.CA_OBJECT_VW>

@{
    ViewBag.Title = "Search Permits by Number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
    <table class="table table-bordered tableStyle" id="searchNumberTable">
        <thead>
            <tr>
                <th>
                    Case Number
                </th>
                <th>
                    Case Type
                </th>
                <th>
                    Case Status
                </th>
                <th>
                    Location
                </th>
                <th>
                    Date Issued
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.CASE_NUMBER, "Index", "PermitInfo", new { permitNum = item.CASE_NUMBER }, new AjaxOptions { HttpMethod = "Post" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CASE_TYPE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CASE_STATUS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LOCATION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DATE_ISSUED)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="col-sm-12">
        <button class="btn btn-raised btn-primary" onclick="history.go(-1);">Search Again</button>
    </div>
</body>
</html>
 @Scripts.Render("~/bundles/dataTables")
<script>
    $(document).ready(function () {
        $('#searchNumberTable').DataTable();
    });
</script>