﻿@using (Html.BeginForm("PermitNumber", "SearchByNumber", FormMethod.Post, new { @class = "col-sm-12" }))
{

    <div class="row">
        @*<div class="col-sm-6">
                @Html.TextBox("permitNumber", null, new { @class = "form-control", @placeholder = "Enter permit number", required = "required" })
            </div>*@
        <div class="form-group label-floating">
            <div class="col-sm-6">
                <label for="permitNumber" class="control-label">Enter Username</label>
                @Html.TextBox("permitNumber", null, new { @class = "form-control", required = "required", @id = "permitNumber" })
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-raised btn-primary">Search</button>
            </div>
        </div>
}