﻿
@{
    ViewBag.Title = "Search Permits by Number";
    ViewBag.Icon = @"<i class=""fa fa-search""></i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="search-form" >
    @Html.Action("PermitNumber", "SearchByNumber")
</div>
<div id="search-results"></div>

