﻿@model IEnumerable<Portal.Models.DB.WIP_CA_OBJECT_VW>

@{
    ViewBag.Title = "Incomplete Permits";
    ViewBag.Icon = @"<i class=""material-icons md-48"">bookmark</i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered tableStyle" id="incompleteApplicationsTable">
    <thead>
        <tr>
            <th>
                Case Number
            </th>
            <th>
                Case Type)
            </th>
            <th>
                Case Type Desc
            </th>
            <th>
                Date Created
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.ActionLink(item.CASE_NUMBER, "Index", "PermitInfo", new { permitNum = item.CASE_NUMBER }, new AjaxOptions { HttpMethod = "Post" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_TYPE_DESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATE_CREATED)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOCATION)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<div id="regBtnGroup">
    <button class="btn btn-raised btn-primary" id="mdfyCancel" onclick="history.go(-1)">Cancel</button>
</div>

@Scripts.Render("~/bundles/dataTables")
<script>
    $(document).ready(function () {
        $('#incompleteApplicationsTable').DataTable();
    });
</script>