﻿@model IEnumerable<Portal.Models.DB.CA_OBJECT_VW>

@{
    ViewBag.Title = "Open Permits";
    ViewBag.Icon = @"<i class=""material-icons md-48"">mode_edit</i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered tableStyle" id="openApplicationsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CASE_NUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CASE_STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_CREATED)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.CASE_NUMBER)*@
                    @Html.ActionLink(item.CASE_NUMBER, "Index", "PermitInfo", new { permitNum = item.CASE_NUMBER }, new AjaxOptions { HttpMethod = "Post" })
                    @*@Html.ActionLink("", "PermitInfo?permitnum="+ )*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_STATUS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOCATION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATE_CREATED)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<div id="regBtnGroup">
    <button class="btn btn-raised btn-primary" id="mdfyCancel" onclick="history.go(-1)">Cancel</button>
</div>
@Scripts.Render("~/bundles/dataTables")

<script>
    $(document).ready(function () {
        $('#openApplicationsTable').DataTable();
    });
</script>