﻿/*MAIN*/

/* Stylesheet */
/* Imports */

/*@import url(animate.css);*/

.margin-top-20 {
    margin-top: 20px;
}

.ui-autocomplete {
    z-index: 100;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px;
}

.clickable {
    cursor: pointer;
}

.divwidth {
    width:800px;
    text-align:justify;
}

h5 {
    text-align: center;
}

#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 74px;
}

.calcite .arcgisSearch .searchGroup .searchInput {
    height: auto !important;
}


.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inputFile + label {
        max-width: 80%;
        font-size: 1.25rem;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
    }

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/Content/images/rolling.gif') 50% 50% no-repeat rgb(249,249,249);
}

button i {
    color: #00897B;
}

#welcome span {
    margin-left: 30px;
}

/*#createApplicationBtn {
    margin-top: 15px;
}*/
.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inputFile + label {
        max-width: 80%;
        font-size: 1.25rem;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
    }

#createAccountForm h3 {
    text-align: center;
    color: #00897B;
}

#createAccountForm h4 {
    color: #00897B;
}

.form {
    margin-top: 100px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #767676;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #444;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #444;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 200px;
}

.login-container {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    margin-top: 200px;
}

.primary {
    background: #00897B;
}

.primary-text {
    color: #00897B;
}

.primary-btn-text {
    color: white;
}

.panel-heading {
    background-color: #00897B !important;
    color: white !important;
}

.btn-primary {
    background-color: #00897B;
    border-color: #00897B;
}

.login .passwordLink {
    margin-top: 2px;
    font-size: 12px;
    color: #aaa;
    float: right;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

    .login .passwordLink:hover {
        color: #555;
    }

.loginOptions {
    margin-top: 18px;
}

.login .newAccount {
    font-size: 14px;
    color: #498AF3;
    padding: 20px;
}

.login .guestAccount {
    font-size: 14px;
    color: #498AF3;
    padding: 20px;
}

.guestAccount:hover,
.newAccount:hover {
    color: #3A6EC2;
}

#loginSubmit {
    /*background: #ecf2f5;
	width: 100%;
	height: 69px;*/
    margin-top: 5px;
    box-shadow: inset 0 1px 1px #fff;
    border-top: 1px solid #ccc;
}

#loginBtn {
    width: 100% !important;
}

#loginSubmit input[type=submit] {
    /*float: right;
	margin-right: 20px;*/
    margin-left: 20px;
    /*margin-top: 20px;*/
    margin-top: 8px;
    width: 302px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #498AF3;
    border-radius: 6px;
    border: 1px solid #498AF3;
    cursor: pointer;
}

    #loginSubmit input[type=submit]:hover {
        /*background-color: #0B5EE1;*/
        background-color: #3A6EC2;
        /*border: 1px solid #0B5EE1;*/
        border: 1px solid #3A6EC2;
    }

/*#loginSubmit input[type=submit]:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
	background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
	background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}*/

.login #bannerContainer {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

.login .banner {
    left: 50%;
    margin-left: -400px;
    position: fixed;
}

#bannerImg {
    width: 100%;
}

/* Home */

#banner {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    z-index: 100;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    /*-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    /*z-index: 1000;*/
    top: 100px;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FFF;
    box-shadow: 3px 0px 2px rgba(0, 0, 0, .1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #3A6EC2;
                background: rgba(255,255,255,0.2);
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

.sidebar-welcome {
    color: #34a853 !important;
}

.container-fluid {
    margin-top: 100px;
    padding-left: 10% !important;
}

.col-lg-12 h1 {
    color: #767676;
    margin-left: -22px;
    padding-bottom: 25px;
}

/* Button Styles */

.btn-group-lg > .btn, .btn-lg {
    margin-top: 25px;
    margin-left: 25px;
}

    .btn-group-lg > .btn, .btn-lg:hover {
        background-color: #FFD997 !important;
    }

    .btn-group-lg > .btn, .btn-lg:active {
        background-color: #FFC765 !important;
    }

/*.btn-default {
    color: #3A6EC2!important;
    background-color: white!important;
}*/

.btn-group-vertical > .btn:first-child:not(:last-child) {
    width: 200px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.btn-group-vertical > .btn, .btn-group-vertical > .btn-group, .btn-group-vertical > .btn-group > .btn {
    width: 200px !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.home .dropdown-menu {
    width: 200px;
    text-align: center !important;
    overflow: auto;
}

#homeSearch {
    margin-top: 15px !important;
}

#creatApplicationBtn {
    margin-top: 15px !important;
}

#scheduleInspectionBtn {
    margin-top: 15px !important;
}

#paymentDropDown {
    margin-top: 15px !important;
}

#adminDropDown {
    margin-top: 15px !important;
}

#paymentsBtn {
    margin-top: 15px !important;
}

/* Registration */

#registrationForm {
    margin-top: 100px;
    width: 300px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #767676;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    -webkit-animation-name: bounceIn;
    -webkit-animation-fill-mode: none;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: bounceIn;
    -moz-animation-fill-mode: none;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    animation-name: bounceIn;
    animation-fill-mode: none;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

    #registrationForm h3 {
        text-align: center;
        padding-bottom: 25px;
    }

    #registrationForm h5 {
        color: #498AF3;
    }

    #registrationForm label {
        color: #767676;
    }

#form-content-wrapper {
    padding: 10px;
}

#regBtnGroup {
    margin-top: 12px;
}

    #regBtnGroup #regClear #regCancel {
        margin-left: 4px;
    }

    #regBtnGroup p {
        float: right;
        font-style: oblique;
    }

.glyphicon-asterisk {
    color: #E74C3C !important;
}

.searchNameBtn {
    float: right;
    margin-top: 10%;
}

/* SearchNumber */

.SearchNumber h4 {
    margin-top: 5%;
    color: #55555A;
}

.btnRightWrapper {
    float: right;
    margin-top: 5%;
}

.scheduler p span {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

/* Modify Account */
#modifyAccountForm {
    margin-top: 100px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #767676;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    -webkit-animation-name: bounceIn;
    -webkit-animation-fill-mode: none;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: bounceIn;
    -moz-animation-fill-mode: none;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    animation-name: bounceIn;
    animation-fill-mode: none;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.ModifyAccount .container-fluid {
    margin-top: 0;
}

.ModifyAccount h5 {
    color: #498AF3 !important;
}

.ModifyAccount h3 {
    padding-bottom: 20px;
}

/* ScheduleInspection */

#hiddenHeader {
    display: none;
}

/* ForgotPassword */

#changePasswordForm {
    margin-top: 100px;
}

/* Search Pin */

.SearchPin h4 {
    margin-top: 5%;
}

.SearchType h4 {
    margin-top: 5%;
}

/* Schedule */

#resultsContainer {
    display: none;
}

/* CreateApplication */
#stepsList {
    float: left;
    list-style: none;
}

    #stepsList li {
        padding: 10px;
        border-bottom: #C1C1C1 1px solid;
    }

#createContainer {
    margin-top: 0 !important;
    padding-left: 5px !important;
}

.glyphicon-menu-right {
    float: right !important;
    padding-left: 5px;
}

/* General */
.hideElement {
    display: none !important;
}

.btnLeftWrapper {
    float: left;
    margin-top: 5%;
}

.tableStyle {
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

table thead td {
    font-weight: bold;
}

.form-style {
    margin-top: 100px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #767676;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    padding: 20px;
}

/* Create Application */
#createApplicationForm {
    margin-top: 100px;
    background: #EEEEEE;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #767676;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    -webkit-animation-name: bounceIn;
    -webkit-animation-fill-mode: none;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: bounceIn;
    -moz-animation-fill-mode: none;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    animation-name: bounceIn;
    animation-fill-mode: none;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

    #createApplicationForm fieldset {
        display: none;
    }

.disable-link {
    pointer-events: none;
}

#createApplicationForm p span {
    font-weight: normal;
}

.form-top {
    overflow: hidden;
    /*padding: 0 25px 15px 25px;*/
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

    .form-top-left h3 {
        margin-top: 0;
    }

.form-top-right {
    float: left;
    width: 25%;
    font-size: 50px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: white;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

/* Open Applications*/

#openApplications p span {
    font-weight: normal;
}

#incompleteApplications p span {
    font-weight: normal;
}

/*#incomplete-modal .modal-header {
    background-color: #F5D76E;
}*/

/*#otherUserControls {
    display: none;
    margin: 30px 0 30px 0;
}*/

/* ESRI Style Overrides */
#map {
    /*margin-top: 4% !important;*/
    height: 500px;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

#HomeButton {
    position: absolute;
    top: 95px;
    left: 36px;
    z-index: 50;
}

#LocateButton {
    position: absolute;
    top: 130px;
    left: 36px;
    z-index: 50;
}

.modal-header {
    border-radius: 3px !important;
}

.modal-footer {
    border-radius: 3px !important;
}

#searchInputGroup {
    width: 500px;
}

.arcgisSearch .searchGroup .searchInput {
    border: 1px solid #CCC !important;
}

.arcgisSearch .searchBtn {
    border: 1px solid #CCC !important;
}

.open-container {
    border: 1px solid #CCC;
    padding: 8px;
}

.ui-widget-content {
    background: #FFFFFF !important;
}

#addSearchBtn {
    position: absolute;
    top: 0;
    right: 14px;
}

#worksite-top, #worksite-bottom {
    border: 2px solid #CCC;
    padding: 6px;
}

#permitInfoForm p span {
    font-weight: normal;
}

#openAppTable {
    width: 100% !important;
}

#incompleteAppTable {
    width: 100% !important;
}

#incomplete-modal span {
    font-size: 34px;
    color: #FDD835;
}

#cancelSchedModal span {
    font-size: 34px;
    color: #FDD835;
}

#successModalIcon {
    font-size: 34px;
    color: #43A047;
}

#deleteInspections table, #scheduleInspections table {
    width: 100% !important;
}

.glyphicon-ok-sign {
    font-size: 34px !important;
    color: #4CAF50 !important;
}

.glyphicon-exclamation-sign {
    font-size: 34px !important;
    color: #FFEB3B !important;
}

.modal-footer {
    background-color: #FFFFFF;
}

.modal:nth-of-type(even) {
    z-index: 1042 !important;
}

.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}

#printPanel {
    display: none;
}

#tcoBtn {
    display: none;
}

#coBtn {
    display: none;
}

#printPermitBtn {
    display: none;
}

#search_input {
    text-transform: uppercase;
}

.table {
    width: 100% !important;
}

.modal-body {
    max-height: 100% !important;
}

/*************
*            *
*  Parsley   *
*            *
*************/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

    .parsley-errors-list.filled {
        opacity: 1;
        padding-top: 4px;
        color: #F44336;
    }

/**************
*             *
*  Bootstrap  *
*  Callouts   *
*             *
**************/
bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

    .bs-callout-default h4 {
        color: #777;
    }

.bs-callout-primary {
    border-left-color: #428bca;
}

    .bs-callout-primary h4 {
        color: #428bca;
    }

.bs-callout-success {
    border-left-color: #5cb85c;
}

    .bs-callout-success h4 {
        color: #5cb85c;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }

/* Media Queries */

@media print {
    #banner {
        display: none;
    }

    #sidebar-wrapper {
        display: none;
    }

    #wrapper {
        padding-left: 0px !important;
        transition: none !important;
    }

    #permitPrint {
        display: none;
    }
}

/* 768px */

@media only screen and (min-width:766px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    .btn-group-lg > .btn, .btn-lg {
        display: none !important;
        margin-top: 25px;
        margin-left: 25px;
    }

    #bannerImg {
        margin-top: 20px;
    }

    .btn-group-vertical > .btn:first-child:not(:last-child) {
        width: 300px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    }

    .btn-group-vertical > .btn, .btn-group-vertical > .btn-group, .btn-group-vertical > .btn-group > .btn {
        width: 300px !important;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    }

    .home .dropdown-menu {
        width: 500px;
        text-align: center !important;
    }

    #registrationForm {
        width: 600px;
        margin-left: 8%;
    }
}

/* 900px */
@media screen and (min-width:900px) {
    .btn-group-vertical > .btn:first-child:not(:last-child) {
        width: 500px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    }

    .btn-group-vertical > .btn, .btn-group-vertical > .btn-group, .btn-group-vertical > .btn-group > .btn {
        width: 500px !important;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    }

    #mainWrapper .dropdown-menu {
        width: 500px;
        text-align: center !important;
    }
}

/* 1920px */
@media screen and (min-width:1920px) {
    .container-fluid {
        margin-left: 18% !important;
    }
}

/* 1780px */
@media screen and (min-width:1780px) {
    #registrationForm {
        margin-left: 25%;
    }
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: relative; /* Sometimes needs !important */
    }
}