﻿@{
    Layout = null;
    ViewBag.Title = "Reset Password";
}
@Styles.Render("~/bundles/css")
@Scripts.Render("~/bundles/javascript")
@Scripts.Render("https://www.google.com/recaptcha/api.js")
@model Portal.Models.ViewModel.ResetPasswordModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="banner" role="banner" class="primary">
                    <div class="col-sm-6 col-sm-offset-3">
                        <img class="banner " id="bannerImg" src="~/Content/images/TG Cityworks White.png" />
                    </div>
                </div>
               @using (Ajax.BeginForm("Reset", "ResetPassword", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "success" }, new { @class="form"}))
               {
                    <div id="form-content-wrapper" class="col-xs-6 col-xs-offset-3">
                        <h3>Account Help</h3>
                        <br />
                        <div id="username">
                            <div class="form-group label-floating">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="control-label" for="Username">Enter Username</label>
                                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @required = "true" } )
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                       

                        <div id="qa" hidden>
                            <div class="form-group label-floating">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="control-label" for="Question">Question</label>
                                        @Html.TextBoxFor(model => model.Question,"", new {  @class = "form-control"  })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="control-label" for="Answer">Enter Answer</label>
                                        @Html.TextBoxFor(model => model.Answer,"", new { @class = "form-control", @required = "true"  })
                                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="password" hidden>
                            <div class="form-group label-floating">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="control-label" for="Password">Enter New Password</label>
                                        @Html.TextBoxFor(model => model.Password, "", new  { @class = "form-control", @required = "true"  })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group label-floating">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="control-label" for="ConfirmPassword">Confirm Password</label>
                                        @Html.TextBoxFor(model => model.ConfirmPassword, new {@class = "form-control", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <p>Please verify you are not a bot and then click submit.</p>
                            <div class="g-recaptcha" data-sitekey="6Lf_9SYTAAAAAFhNvHiC02donMvlNUigf6Hx4Sbj"></div>
                        </div>

                        <br />
                        @Html.ActionLink("Cancel", "Login", "Account", null, new { @class = "btn btn-primary btn-raised" })
                        <button type="button" id="usernameBtn" class="btn btn-primary btn-raised">Search</button>
                        <button type="button" id="answerBtn" class="btn btn-primary btn-raised hidden" >Next</button>
                        <button type="submit" id="submitBtn" class="btn btn-primary btn-raised hidden" >Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Success!</h4>
                </div>
                <div class="modal-body">
                    Password successfully reset.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>

                </div>
            </div>
        </div>
    </div>


</body>
</html>

<script>
    $('#usernameBtn').click(function () {
        var username = $('#Username').val();
        if (username === "")
            return;
        $.ajax({

            url: "@Url.Action("GetQuestion", "ResetPassword")",
            type: 'Post',
            data: { username: username},
            success: function (data) {
                if (data === "Error") {
                    alert("Username not found.");
                } else {
                    $('#username').hide();
                    $('#usernameBtn').addClass('hidden');
                    $('#answerBtn').removeClass('hidden');
                    $('#qa').show();
                    $('#Question').val(data);
                }
            },
            error: function (data) {
                alert("something seems wrong");
            }
        });
    });


    $('#answerBtn').click(function () {
        var username = $('#Username').val();
        var answer = $('#Answer').val();
        if (answer === "")
            return;
        $.ajax({

            url: "@Url.Action("GetAnswer", "ResetPassword")",
            type: 'Post',
            data: { username: username, answer: answer },
            success: function (data) {
                if (data === "Error") {
                    alert("Incorrect answer.");
                } else {
                    $('#qa').hide();
                    $('#answerBtn').addClass('hidden');
                    $('#submitBtn').removeClass('hidden');
                    $('#password').show();
                }
            },
            error: function (data) {
                alert("something seems wrong");
            }
        });
    });

    function success() {
        $('#myModal').modal();
        $('#myModal').on('hidden.bs.modal', function (e) {
            window.location = "/Home/Welcome";
        });
    }

    $(document).on("keypress", "form", function (event) {
        return event.keyCode != 13;
    });

</script>


    