﻿@model Portal.Models.ViewModel.InspectionRequestModel

<table class="table table-bordered tableStyle table-responsive " id="inspectionRequestTable">
    <thead>
        <tr>
            <th class="hidden"></th>
            <th class="hidden"></th>
            <th class="hidden"></th>
            <th>Case Number</th>
            <th>Case Type</th>
            <th>Sub-Type</th>
            <th>Task Desc</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inspection_Requests)
        {
            <tr>
                <td class="hidden">@Html.DisplayFor(m => item.CA_OBJECT_ID)</td>
                <td class="hidden">@Html.DisplayFor(m => item.CA_TASK_ID)</td>
                <td class="hidden">@Html.DisplayFor(m => item.TASK_CODE)</td>
                <td>@Html.DisplayFor( m => item.CASE_NUMBER )</td>
                <td>@Html.DisplayFor( m => item.CASE_TYPE )</td>
                <td>@Html.DisplayFor(m => item.SUB_TYPE)</td>
                <td>@Html.DisplayFor( m => item.TASK_DESC )</td>
                <td>@Html.DisplayFor( m => item.LOCATION )</td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-raised btn-primary" id="schedule">Schedule</button>
    </div>
</div>
