﻿@model Portal.Models.ViewModel.InspectionRequestModel
@{
    ViewBag.Title = "Schedule Inspection";
    ViewBag.Icon = @"<i class=""fa fa-calendar""></i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm("ScheduleInspection", "InspectionRequests", FormMethod.Post, new { @class = "col-sm-12" }))
    {*@
<h4 class="primary-text">Inspection Info</h4>
<p class="text-bold">Inspection Type: <span class="text-normal">@Html.DisplayFor(m => m.Inspection_Requests[0].TASK_DESC)</span> </p>
<p class="text-bold">Permit Number: <span class="text-normal">@Html.DisplayFor(m => m.Inspection_Requests[0].CASE_NUMBER)</span></p>
<p class="text-bold">Permit Type: <span class="text-normal">@Html.DisplayFor(m => m.Inspection_Requests[0].CASE_TYPE)</span></p>
<p class="text-bold">Location: <span class="text-normal">@Html.DisplayFor(m => m.Inspection_Requests[0].LOCATION)</span></p>
<input type="hidden" id="taskId" name="taskId" value="@Html.DisplayFor( m => m.Inspection_Requests[0].CA_TASK_ID )" />
<input type="hidden" id="permitId" name="permitId" value="@Html.DisplayFor( m=> m.Inspection_Requests[0].CA_OBJECT_ID )" />
@Html.HiddenFor(m => m.Inspection_Requests[0].TASK_CODE)
<input type="hidden" id="scheduleDate" name="scheduleDate" value="" />

<br />

<h4 class="primary-text">Schedule Day</h4>

@*<div id="" class="form-group">
        @for (var i = 0; i < Model.NextFiveDays.Dates.Count; i++)
        {
            <div class="radio">
                <label>
                    @Html.RadioButtonFor(m => m.SelectedDay, Model.NextFiveDays.Dates[i])
                    @Model.NextFiveDays.DaysOfWeek[i]
                </label>
            </div>
        }
    </div>*@

<div class="input-group date col-sm-6">
    <input type="text" class="form-control" value="" placeholder="Select date" id="datepicker">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
<br />

<h4 class="primary-text">Select Time Preference</h4>

<div id="preferences"></div>

<br />
<div class="form-group label-floating">
    <div class="col-xs-6">
        <div class="row">
            <label for="comments" class="control-label">Enter Comments</label>
            @*<textarea class="form-control" id="comments" rows="4" name="comments" maxlength="200"></textarea>*@
            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 margin-top-20">
        <button type="button" class="btn btn-raised btn-primary" id="sched">Schedule</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        //get list of city holidays from cityworks and filter from calendar
        $.ajax({
            url: "@Url.Action("GetHolidays", "InspectionRequests")",
            type: 'POST',
            datatype: 'json',
            data: {},
            success: function (dates) {
                $('#datepicker').datepicker({
                    todayBtn: "linked",
                    daysOfWeekDisabled: "0,6",
                    datesDisabled: dates
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    function formatAMPM(date) { // This is to display 12 hour format
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }

    //on date change get list of available times
    $('#datepicker').on("changeDate", function () {
        $('#load-modal').modal('show');
        $('#scheduleDate').val(
            $('#datepicker').datepicker('getFormattedDate')
        );

        var parameters = {
            TaskId: $('#taskId').val(),
            CaObjectId: $('#permitId').val(),
            TaskCode: $('#Inspection_Requests_0__TASK_CODE').val(),
            InspectionDate: $('#scheduleDate').val()
        }

        //get available times
        $.ajax({
            url: "@Url.Action("GetAvailableTimes", "InspectionRequests")",
            type: 'POST',
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(parameters),
            success: function (response) {

                var txt = '';
                for (var i = 0; i < response.length; i++) {
                    var start = response[i].Start;
                    start = formatAMPM(new Date(start));
                    var end = response[i].End;
                    end = formatAMPM(new Date(end));
                    //dynamically placed radios need to have both the circle and check spans inserted in the markup
                    txt += '<div class="radio"><label><input type="radio" name="day" value="' + start + '-' + end + '" ><span class="circle"></span><span class="check"></span>' + start + ' - ' + end + '</label></div>';
                }
                $('#preferences').html(txt);
                $('#load-modal').modal('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#load-modal').modal('hide');
                alert(errorThrown);
            }
        });
    });

    $('#sched').click(function () {
        $('#load-modal').modal('show');
        var parameters = {
            Day: $('#datepicker').val(),
            Time: $('input[name=day]:checked').val(),
            Comments: $('#Comments').val()
        }

        $.ajax({
            url: "@Url.Action("ScheduleInspection", "InspectionRequests")",
            type: 'POST',
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(parameters),
            success: function (response) {
                if (response.result == 'Redirect') {
                    
                    window.location = response.url;
                } else {
                    $('#load-modal').modal('hide');
                    alert("Error");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
</script>

@*}*@