﻿@{
    ViewBag.Title = "Schedule Inspection Requests";
    ViewBag.Icon = @"<i class=""fa fa-calendar""></i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="search-form">
    @Html.Action("GetInspections", "InspectionRequests")
</div>

<div id="search-results"></div>

<div id="schedule-summary"></div>

@Scripts.Render("~/bundles/dataTables")
<script>
    var schedRequest = {
        CASE_NUMBER: null,
        CASE_TYPE: null, 
        CA_OBJECT_ID: null, 
        TASK_CODE: null, 
        TASK_DESC : null,
        LOCATION: null,
        USER_ID : null,
        CA_TASK_ID: null,
        SUB_TYPE: null
    };

    $(document).ajaxStart(function () {
        $('#load-modal').modal('show');
    }).ajaxStop(function () {
        $('#load-modal').modal('hide');
    });

    var table = $('#inspectionRequestTable').DataTable({
        select: true
    });

    $('#schedule').click(function (event) {

       
        $('#load-modal').modal('show'); // start load
        var items = table.rows('.selected').data();
        schedRequest.CA_OBJECT_ID = items[0][0];
        schedRequest.CA_TASK_ID = items[0][1];
        schedRequest.TASK_CODE = items[0][2];
        schedRequest.CASE_NUMBER = items[0][3];
        schedRequest.TASK_DESC = items[0][6];

        $.ajax({
            url: "@Url.Action("ShowInspection", "InspectionRequests")",
            type: 'POST',
            datatype: 'json',
            data: { schedRequest },
            success: function (response) {
                if (response.result == 'Redirect') {
                    $('#load-modal').modal('hide');
                    window.location = response.url;
                } else {
                    $('#load-modal').modal('hide');
                    alert("Error.  No data found.");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#load-modal').modal('hide');
                alert(errorThrown);
            }
        });

    });
</script>