﻿
@model Portal.Models.ViewModel.InspectionRequestModel
@{
    ViewBag.Title = "Inspection Summary";
    ViewBag.Icon = @"<i class=""fa fa-calendar""></i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-group">
    <div class="row">
        <div class="col-sm-12">
            
            <p class="text-bold">
                Permit Number:
                <span class="text-normal">@Html.DisplayFor(modelItem => modelItem.Inspection_Requests[0].CASE_NUMBER )</span> 
            </p>
            <p class="text-bold">
                Inspection Type:
                <span class="text-normal">@Html.DisplayFor(modelItem => modelItem.Inspection_Requests[0].TASK_DESC )</span> 
            </p>
            <p class="text-bold">
                Scheduled Date:
                <span class="text-normal">@Html.DisplayFor(modelItem => modelItem.ScheduledDate )</span> 
            </p>
            <p class="text-bold">
                Comments:
                <span class="text-normal">@Html.DisplayFor(modelItem => modelItem.Comments)</span> 
            </p>
            <br />
            <div class="col-xs-6">
                <div class="row">
                    @Html.ActionLink("Return Home", "Welcome", "Home", null, new { @type= "button", @class = "btn btn-raised btn-primary"})
                </div>
            </div>
        </div>
    </div>
</div>