﻿@model Portal.Models.ViewModel.ErrorModel
@{
    ViewBag.Title = "Oops...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
<br />
<div class="alert alert-warning" role="alert">@Html.DisplayFor(modelItem => modelItem.ErrorMsg)</div>
    <br />
    <div class="col-sm-12">
        @Html.ActionLink("Return Home", "Welcome", "Home", null, new { @class = "btn btn-default" })
    </div>
</p>