﻿
@model IEnumerable<Portal.Models.DB.CA_PEOPLE_VW>

@{
    ViewBag.Title = "Search Permits by Name or License";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html><body>
<table class="table table-bordered tableStyle" id="searchNameTable">
    <thead>
        <tr>
            <th>
               Permit Number
            </th>
            <th>
               Name
            </th>
            <th>
                Role
            </th>
            <th>
                Permit Type
            </th>
            <th>
                Permit Type Desc.
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.CASE_NUMBER, "Index", "PermitInfo", new { permitNum = item.CASE_NUMBER }, new AjaxOptions { HttpMethod = "Post" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ROLE_DESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_TYPE_DESC)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="col-sm-12">
    <button class="btn btn-raised btn-primary" onclick="history.go(-1);">Search Again</button>
</div>
    </body></html>

@Scripts.Render("~/bundles/datatables")
<script>
    $(document).ready(function () {
        $('#searchNameTable').DataTable();
    });
</script>