﻿@using (Html.BeginForm("SearchName", "SearchByName", FormMethod.Post, new { @class = "col-sm-12" }))
{
    <div class="row">
        <div class="form-group label-floating">
            <div class="col-sm-6">
                <label for="permitName" class="control-label">Enter Name</label>
                @Html.TextBox("name", null, new { @class = "form-control", required = "required", @id = "permitName" })
            </div>
        </div>
    </div>

        @*<div class="row">
                <div class="form-group label-floating">
                    <div class="col-sm-6">
                        @Html.TextBox("name", null, new { @class = "form-control", @placeholder = "Enter name", required = "required" })
                    </div>
                </div>
            </div>*@

        <div class="row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-raised btn-primary">Search</button>
            </div>
        </div>

        <script>
            $("#searchResultsForm").validate();
        </script>

}