﻿
@{
    ViewBag.Title = "Search Permits by Name";
    ViewBag.Icon = @"<i class=""fa fa-search""></i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="search-form">
    @Html.Action("SearchName", "SearchByName")
</div>

<div id="search-results"></div>

