﻿@model Portal.Models.ViewModel.UserLoginView

@{
    Layout = null;
    ViewBag.Title = "PLL Portal";
}
@using System.Web.Optimization;
@Styles.Render("~/bundles/css")






<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log In</title>
</head>
<body>

    <div id="page-content-wrapper">
        <div id="banner" role="banner" class="primary">
            <div class="col-sm-6 col-sm-offset-3">
                <img class="banner " id="bannerImg" src="~/Content/images/TG Cityworks White.png" />
            </div>
        </div>

        <div id="loginContainer" class="container">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "loginForm", @class = "col-sm-12" }))
            {
                @*@Html.AntiForgeryToken()*@

                <div id="container" class="login-container col-sm-6 col-sm-offset-3">
                    <h3 class="text-center primary-text">City of Shawnee PLL Portal</h3>
                    <br />
                    <div class="form-group label-floating">
                        <div class="col-sm-8 col-sm-offset-2">
                        <label for="LoginName" class="control-label">Enter Username</label>
                        @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                            </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group label-floating">
                        <div class="col-sm-8 col-sm-offset-2">
                        <label for="Password" class="control-label">Enter Password</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                    </div>
                    <br />

                    <div class="form-group ">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button type="submit" class="btn btn-raised btn-primary" id="loginBtn">Log In</button>
                        </div>
                    </div>

                    <div class="col-sm-12" id="loginSubmit"></div>

                    <div class="form-group">
                        <div class="loginOptions">
                            @Html.ActionLink("Create New Account", "Index", "CreateAccount", null, new { @class = "col-xs-4 primary-text" })
                            @Html.ActionLink("Forgot Password?", "Index", "ResetPassword", null, new { @class = "col-xs-4 primary-text", @style = "padding-left: 8%;" })
                            @Html.ActionLink("Guest Access", "Index", "GuestAccess", null, new { @class = "col-xs-4 primary-text", @style = "padding-left: 15%;" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>



@Scripts.Render("~/bundles/javascript")
<script>

    $(document).ready(function () {
        $.material.init()
    });
    
</script>