﻿@{
    ViewBag.Title = "City of Shawnee PLL Portal";
    ViewBag.Icon = @"<i class=""material-icons md-48"">home</i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Request.Browser.Browser == "InternetExplorer")
{
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
}
<body>    
    <div class="row row-centered">
        <div class="col-xs-6 col-centered" id="welcome">

            @* review application *@
            @if (!ViewContext.HttpContext.User.IsInRole("GUEST"))
            {

                <span data-toggle="modal" data-target="#review-dialog">
                    <button type="button" class="btn btn-fab btn-material-grey-200 opensource" data-toggle="tooltip" data-placement="bottom" title="Review My Applications">
                        <i class="material-icons">assignment_ind</i>
                        <div class="ripple-container"></div>
                    </button>
                </span>

            }

            <span data-toggle="modal" data-target="#search-dialog">
                <button type="button" class="btn btn-fab btn-material-grey-200 opensource " data-toggle="tooltip" data-placement="bottom" title="Search Permits">
                    <i class="material-icons ">search</i>
                    <div class="ripple-container"></div>
                </button>
            </span>

            @* search permits *@

            @if (!ViewContext.HttpContext.User.IsInRole("GUEST"))
            {
                @* create application *@

                <span>
                    <button type="button" class="btn btn-fab btn-material-grey-200 opensource" data-toggle="tooltip" data-placement="bottom" title="Create New Application" onclick="location.href='@Url.Action("CaseStart", "CreateApplication")';return false;">

                        <i class="material-icons">note_add</i>
                        <div class="ripple-container"></div>
                    </button>
                </span>

                @* inspection requests *@
                <span>
                    <button type="button" class="btn btn-fab btn-material-grey-200 opensource" data-toggle="tooltip" data-placement="bottom" title="Schedule Inspection Requests" onclick="location.href='@Url.Action("Index", "InspectionRequests")';return false;">
                        <i class="material-icons">date_range</i>
                        <div class="ripple-container"></div>
                    </button>
                </span>

            }
            @* payments *@

            <span data-toggle="modal" data-target="#payments-dialog">
                <button type="button" class="btn btn-fab btn-material-grey-200 opensource" data-toggle="tooltip" data-placement="bottom" title="Make Payment">
                    <i class="material-icons ">credit_card</i>
                    <div class="ripple-container"></div>
                </button>
            </span>

            @*<button id="test" class="btn">click me</button>

                <div class="form-group">
                  <label class="control-label" for="inputFile2">Attach file(s)</label>
                  <input id="pllMultiInputFiles" multiple="" type="file" name="files[]">
                  <input readonly="" class="form-control" placeholder="Browse2..." type="text">
                </div>*@

            @*@if (ViewContext.HttpContext.User.IsInRole("ADMIN"))
                {
                    <div class="btn-group-vertical" id="adminDropDown">
                        <button type="button" class="btn btn-raised btn-primary dropdown-toggle" data-toggle="dropdown">
                            Admin
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Some Admin Function", "Number", "Search")</li>
                            <li>@Html.ActionLink("Another Admin Function", "Name", "Search")</li>
                        </ul>
                    </div>
                }*@
        </div>

        @* MODALS *@

        <div id="search-dialog" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Select Search Type</h4>
                    </div>
                    <div class="modal-body">
                        <p><span>@Html.ActionLink("Permit Number", "Index", "SearchByNumber")</span></p>
                        <p><span>@Html.ActionLink("Name", "Index", "SearchByName")</span></p>
                        <p><span>@Html.ActionLink("Permit Location", "Index", "SearchByLocation")</span></p>
                        <p><span>@Html.ActionLink("Permit Type", "Index", "SearchByType")</span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-raised btn-primary" data-dismiss="modal">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="review-dialog" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Select Search Type</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <span>@Html.ActionLink("Open Permits", "OpenPermits", "ReviewApplications")</span>
                        </p>
                        <p>
                            <span> @Html.ActionLink("Incomplete Applications", "IncompletePermits", "ReviewApplications")</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-raised btn-primary" data-dismiss="modal">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="payments-dialog" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Search Payments by Type</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <span>@Html.ActionLink("Pay Fees by Permit Number", "SearchNumber", "Payments")</span>
                        </p>
                        <p>
                            <span>@Html.ActionLink("Pay Fees by Location", "SearchLocation", "Payments")</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-raised btn-primary" data-dismiss="modal">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>

        @*<button class="btn" id="testbtn">test btn</button>*@
    </div>
</body>

<script>
    $('[data-toggle="tooltip"]').tooltip();
    $( document ).ajaxStart(function() {
        $('#load-modal').modal('show');
    });

    $('.modal-body span').click(function () {
        $('#load-modal').modal('show');
    });

    $('#testbtn').click(function() {

        $.post("http://demo4.timmons.com/Cityworks_Tal_2015_1/services/Authentication/Authenticate",
       { data: JSON.stringify({ LoginName: "cwadmin",Password: "cityworks" }) },
       function (data) {
           var token = data.Value.Token;
           $.post("http://demo4.timmons.com/Cityworks_Tal_2015_1/services/Pll/CaseObject/Add",
              { data: JSON.stringify({ CaseTypeId: 4 }), token: token },
              function (data) {
                  alert(data.Value);

              }
          );
       }
   );

        //$.ajax({
        //    url: "http://demo4.timmons.com/Cityworks_Tal_2015_1/services/Authentication/Authenticate",
        //    type: 'POST',
        //    data: JSON.stringify({ LoginName: "cwadmin", Password: "cityworks" }),
        //    success: function(response) {
        //        alert('Token is: ' + JSON.parse(response));
        //        //0iPQQTg9y8jpiSBNudt/KXSSVzzz9V2Y5NUODoODQOs=
        //    },
        //    error: function(response) {
        //        alert(response);
        //    }
        //});
    });
</script>