﻿@{
    ViewBag.Title = "Modify Account";
    ViewBag.Icon = @"<i class=""material-icons md-48"">mode_edit</i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Portal.Models.ViewModel.UserViewModel
@using (Html.BeginForm("SaveModifications", "ModifyAccount", FormMethod.Post))

{

    <h4 class="primary-text">Login Information</h4>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group label-floating">
                    <label class="control-label" for="User.LOGIN_ID">Login ID</label>
                    @*<input type="text" class="form-control" placeholder="Login Name" name="username" id="username" disabled="" value="@Html.DisplayFor(item => item.User.LOGIN_ID)" />*@
                    @Html.EditorFor(model => model.User.LOGIN_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group label-floating">
                    <label class="control-label" for="User.EMAIL_ID">Email</label>
                    @Html.EditorFor(model => model.User.EMAIL_ID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <h4 class="primary-text">Change Password</h4>

    <div class="form-group ">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group label-floating">
                    <label class="control-label" for="ModifyAccount.Password">Current Password</label>
                    @Html.PasswordFor(m => m.ModifyAccount.Password, new { id = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ModifyAccount.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group label-floating">
                    <label class="control-label" for="ModifyAccount.NewPassword">New Password</label>
                    @Html.PasswordFor(m => m.ModifyAccount.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ModifyAccount.NewPassword)
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group label-floating">
                    <label class="control-label" for="ModifyAccount.ConfirmPassword">Confim Password</label>
                    @Html.PasswordFor(m => m.ModifyAccount.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ModifyAccount.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <h4 class="primary-text">Contact Information</h4>

    <div class="form-group ">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group label-floating">
                    <label class="control-label" for="User.FIRST_NAME">First Name</label>
                    @Html.EditorFor(model => model.User.FIRST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group label-floating">
                    <label class="control-label" for="User.LAST_NAME">Last Name</label>
                    @Html.EditorFor(model => model.User.LAST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group label-floating">
            <label class="control-label" for="User.ADDRESS_LINE1">Address</label>
            @Html.EditorFor(model => model.User.ADDRESS_LINE1, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group label-floating">
        <label class="control-label" for="User.ADDRESS_LINE2">Address 2</label>
        @Html.EditorFor(model => model.User.ADDRESS_LINE2, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group label-floating">
                    <label class="control-label" for="User.CITY_NAME">City</label>
                    @Html.EditorFor(model => model.User.CITY_NAME, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group label-floating">
                    <label class="control-label" for="User.STATE_CODE">State</label>
                    @Html.EditorFor(model => model.User.STATE_CODE, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group label-floating">
                    <label class="control-label" for="User.ZIP_CODE">Zip Code</label>
                    @Html.EditorFor(model => model.User.ZIP_CODE, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group label-floating">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label" for="User.COUNTRY_CODE">Country</label>
                @Html.EditorFor(model => model.User.COUNTRY_CODE, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group label-floating">
                    <label class="control-label" for="User.PHONE_HOME">Home Phone</label>
                    @Html.EditorFor(model => model.User.PHONE_HOME, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group label-floating">
                    <label class="control-label" for="User.PHONE_MOBILE">Mobile Phone</label>
                    @Html.EditorFor(model => model.User.PHONE_MOBILE, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>

    @*<br />
        <h4>Contractor Information</h4>

        <div class="form-group label-floating">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label" for="Contractor.BUSINESS_NAME">Business Name</label>
                    @Html.EditorFor(model => model.Contractor.BUSINESS_NAME, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label class="control-label" for="contractorAddress">Contractor Address</label>
                    @Html.EditorFor(model => model.Contractor.ADDRESS_LINE1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address 1" } })
                </div>
                <div class="col-xs-6">
                    <label class="control-label" for="contractorAddressSub">Contractor Address 2</label>
                    @Html.EditorFor(model => model.Contractor.ADDRESS_LINE2, new { htmlAttributes = new { @class = "form-control" }, @placeholder = "Address 2" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4">
                    <label class="control-label" for="contractorCity">Contractor City</label>
                    @Html.EditorFor(model => model.Contractor.CITY_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                </div>
                <div class="col-xs-4">
                    <label class="control-label" for="contractorState">Contractor State</label>
                    @Html.EditorFor(model => model.Contractor.STATE_CODE, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
                </div>
                <div class="col-xs-4">
                    <label class="control-label" for="contractorZip">Contractor Zip</label>
                    @Html.EditorFor(model => model.Contractor.ZIP_CODE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Zip" } })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4">
                    <label class="control-label" for="contractorPhone">Work Phone</label>
                    @Html.EditorFor(model => model.Contractor.PHONE_WORK, new { htmlAttributes = new { @class = "form-control", @placeholder = "Work Phone" } })
                </div>
                <div class="col-xs-4">
                    <label class="control-label" for="contractorEmail">Mobile Email</label>
                    @Html.EditorFor(model => model.Contractor.PHONE_MOBILE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile Phone" } })
                </div>
            </div>
        </div>*@
    <br />
    <br />
    <div id="regBtnGroup">
        <button class="btn btn-raised btn-primary" id="mdfyCancel" onclick="history.go(-1)">Cancel</button>
        <button type="submit" class="btn btn-raised btn-primary" id="mdfySubmit">Submit</button>
    </div>
}