﻿@model Portal.Models.ViewModel.CaseTypes



<table class="table table-bordered tableStyle hidden table-responsive" id="searchTypeTable">
    <thead>
        <tr>
            <th>
                Permit Number
            </th>
            <th>
                Permit Type
            </th>
            <th>
                Permit Status
            </th>
            <th>
                Location
            </th>
            <th>
                Date Issued
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CaObject )
            {

            <tr>
                <td>
                    @Html.ActionLink(item.CASE_NUMBER, "Index", "PermitInfo", new { permitNum = item.CASE_NUMBER }, new AjaxOptions { HttpMethod = "Post" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_STATUS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOCATION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATE_ISSUED)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />


