﻿@model Portal.Models.ViewModel.CaseTypes
@Styles.Render("~/Content/BootstrapDatePicker/css/bootstrap-datepicker.min.css")
@Styles.Render("~/Content/BootstrapDatePicker/css/bootstrap-datepicker3.min.css")
@Scripts.Render("~/Content/BootstrapDatePicker/js/bootstrap-datepicker.min.js")

<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <label class="control-label" for="SelectedCaseType">Case Type</label>
            @Html.DropDownListFor(model => Model.SelectedCaseType, Model.CaseTypeList, new { @class = "form-control" })
        </div>
    </div>
</div>

<div id="subTypes" class="hidden">
    @Html.Partial("CaseTypePartial", Model)
</div>

<div class="form-group hidden" id="dateWrapper">
    <div class="row">
        <div class="col-xs-3 date">
            <div class="input-group input-append date" id="fromDate">
                <input type="text" class="form-control" data-date-format="mm-dd-yyyy" id="fromDateInput" name="fromDateInput" placeholder="From Date" required="" />
                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
            </div>
        </div>

        <div class="col-xs-3 date">
            <div class="input-group input-append date" id="toDate" name="toDate">
                <input type="text" class="form-control" data-date-format="mm-dd-yyyy" id="toDateInput" name="toDateInput" placeholder="To Date" required="" />
                <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <button type="button" class="btn btn-raised btn-primary" id="search">Search</button>
    </div>
</div>


<div id="results" class="hidden">
    @Html.Partial("SearchTypeResults", Model)
</div>

<script>

    $('#SelectedCaseType').change(function (event) {
        $('#load-modal').modal('show'); // start load
        $('#SelectedSubType').empty();
        var caseType = $('#SelectedCaseType').val();
        // caseType = caseType.substr(0, caseType.indexOf(':'));
        $.ajax({
            url: "@Url.Action("SearchSubType", "SearchByType")",
            type: 'POST',
            datatype: 'json',
            data: { caseType: caseType },
            success: function (data) {
                $('#subTypes').show();
                $('#subTypes').html(data);
                $('#subTypes').removeClass('hidden');
                $('#load-modal').modal('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#load-modal').modal('hide'); // end load
                alert(errorThrown);
            }
        });
    })

    $('#fromDate, #toDate').datepicker({
        todayHighlight: true,
        todayBtn: true
    });

    $('#fromDate, #toDate').on("changeDate", function () {
        $('#fromDateInput').val(
            $('#fromDate').datepicker('getFormattedDate')
        );
        $('#toDateInput').val(
            $('#toDate').datepicker('getFormattedDate')
        );
    });

    $('#search').click(function (event) {
        $('#load-modal').modal('show');
        $.ajax({
            url: "@Url.Action("Search", "SearchByType")",
            type: 'POST',
            datatype: 'json',
            data: { caseType: caseType },
            success: function (data) {
                $('#results').show();
                $('#results').html(data);
                $('#results').removeClass('hidden');
                $('#load-modal').modal('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#load-modal').modal('hide'); // end load
                alert(errorThrown);
            }
        });
    })
</script>