﻿
@model Portal.Models.ViewModel.CaseTypes


@if (Model.SubTypeList.Any())
{
    <div class="form-group label-floating">
        <div class="row">
            <div class="col-xs-6">
                <label class="control-label" for="SelectedSubType">Sub-Type</label>
                @Html.DropDownListFor(model => Model.SelectedSubType, Model.SubTypeList, new { @class = "form-control" })
            </div>
        </div>
    </div>
}


