﻿@model IEnumerable<Portal.Models.DB.CA_PAYMENT_VW> 

@{
    ViewBag.Title = "Payment Summary";
    ViewBag.Icon = @"<i class=""fa fa-usd""></i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered tableStyle" id="paymentSummaryTable">
    <thead>
        <tr>
            <th>
                Permit Number
            </th>
            <th>
                Fee Code
            </th>
            <th>
                Fee Description
            </th>
            <th>
                Fee Amount
            </th>
            <th>
                Payment ID
            </th>
            <th>
                Paypal Ref. No.
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CASE_NUMBER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FEE_CODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FEE_DESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAYMENT_AMOUNT)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.CA_PAYMENT_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REFERENCE_INFO)
                </td>          
            </tr>
        }
    </tbody>
</table>

<br />

<div class="col-sm-12">
    @Html.ActionLink("Return Home", "Welcome", "Home", null, new { @class = "btn btn-default" })
    <button type="submit" id="payfees" class="btn btn-raised btn-primary">Pay Fees</button>
</div>

@Scripts.Render("~/bundles/datatables")
<script>
    $(document).ready(function () {
        $('#paymentSummaryTable').DataTable();       
    });
</script>