﻿@model IEnumerable<Portal.Models.DB.CA_FEES_VW>
@using System.Linq

@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Icon = @"<i class=""fa fa-usd""></i>";
}

<h4 class="primary-text">Search Results</h4>

 @using (Html.BeginForm("MakePayment", "Payments", FormMethod.Post, new { @class = "col-sm-12"}))
    {

    if (!Model.Any())
    {
        <br />
        <div class="alert alert-warning" role="alert">Case number not found.</div>
        <br />
        <button class="btn btn-raised btn-primary" onclick="history.go(-1); return false;">Search Again</button>
    }
    else
    {

        foreach (var group in Model.GroupBy(item => item.CASE_NUMBER))
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <input type="radio" name="caseNumber" id="caseNumber" value="@Html.Encode(group.Key)"/> Case Number: @Html.Encode(group.Key)
                </div>
                <div class="panel-body">
                    <table class="table" id="searchNumberTable">
                        <thead>
                            <tr>
                                <th>
                                    Case Number
                                </th>
                                <th>
                                    Case Type
                                </th>
                                <th>
                                    Fee Code
                                </th>
                                <th>
                                    Fee Description
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Payment Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CASE_NUMBER)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CASE_TYPE_DESC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FEE_CODE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FEE_DESC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AMOUNT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PAYMENT_AMOUNT)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

            <h4 class="primary-text">Method of Payment</h4>
            <div class="radio"><label><input type="radio" name="paymentMethod" required value="credit"/><i class="fa fa-credit-card fa-3x" aria-hidden="true"></i></label> </div>
            <div class="radio"><label><input type="radio" name="paymentMethod" required value="paypal"/><i class="fa fa-cc-paypal fa-3x" aria-hidden="true"></i></label> </div> 

            <br />
            <div class="col-sm-12">
                <button class="btn btn-raised btn-primary" onclick="history.go(-1); return false;">Search Again</button>
                <button type="submit" class="btn btn-raised btn-primary">Pay Fees</button>
            </div>
    }
}
@Scripts.Render("~/bundles/dataTables")
<script>
    $(document).ready(function () {
        $('#searchNumberTable').DataTable();
    });
</script>