﻿
@{
    ViewBag.Title = "Payments";
    ViewBag.Icon = @"<i class=""fa fa-usd""></i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("http://js.arcgis.com/3.14/")
@Scripts.Render("~/scripts/MapHelper.js")
<link rel="stylesheet" href="http://js.arcgis.com/3.14/esri/css/esri.css" />


@using (Html.BeginForm("SearchLocation", "Payments", FormMethod.Post, new { @class = "col-sm-12" }))
{
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
               @Html.TextBox("location", null, new { @class = "form-control", @placeholder = "Enter location" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <div class="claro" id="mapDiv"></div>
            </div>
        </div>
    </div>
    @*@Html.Hidden("address", null, new { @class = "selected-address-two" });*@
    @*@Html.Label("address", "Selected Address:", new { @class = "selected-address-two"} )*@
    <div class="row">
        <div class="col-xs-6">
            <label>Selected Address:  @Html.TextBox("address", null, new { @class = "form-control selected-address-two", @readonly = "readonly" })</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-raised btn-primary">Search</button>
        </div>
    </div>
}