﻿@model IEnumerable<Portal.Models.DB.CA_FEES_VW>

@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Icon = @"<i class=""fa fa-usd""></i>";
}

<h4 class="primary-text">Search Results</h4>

@using (Html.BeginForm("MakePayment", "Payments", FormMethod.Post, new { @class = "col-sm-12" }))
{

    foreach (var group in Model.GroupBy(item => item.CASE_NUMBER))
    { 
        
       
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <input type="radio" name="caseNumber" id="caseNumber" value="@Html.Encode(group.Key)"  /> Case Number: @Html.Encode(group.Key)
                </div>
                <div class="panel-body">
                    <table class="table" id="searchNumberTable">
                        <thead>
                            <tr>
                                <th>
                                    Case Number
                                </th>
                                <th>
                                    Case Type
                                </th>
                                <th>
                                    Fee Code
                                </th>
                                <th>
                                    Fee Description
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Payment Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CASE_NUMBER)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CASE_TYPE_DESC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FEE_CODE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FEE_DESC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AMOUNT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PAYMENT_AMOUNT)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    <br />

    <h4 class="primary-text">Method of Payment</h4>
    <div class="radio"><label><input type="radio" name="paymentMethod" required value="credit" /><i class="fa fa-credit-card fa-3x" aria-hidden="true"></i></label> </div>
    <div class="radio"><label><input type="radio" name="paymentMethod" required value="paypal" /><i class="fa fa-cc-paypal fa-3x" aria-hidden="true"></i></label> </div>

    <br />
    <div class="col-sm-12">
        <button class="btn btn-default" onclick="history.go(-1);">Search Again</button>
        <button type="submit" class="btn btn-default">Pay Fees</button>
    </div>
}
@Scripts.Render("~/bundles/datatablesJS")
<script>
    $(document).ready(function () {
        $('#searchNumberTable').DataTable();
    });
</script>