﻿
@{
    ViewBag.Title = "Payments";
    ViewBag.Icon = @"<i class=""fa fa-usd""></i>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("SearchNumber", "Payments", FormMethod.Post, new { @class = "col-sm-12" }))
{
    <div class="form-group label-floating">
            <div class="col-sm-6">
                 <label for="caseNumber" class="control-label">Search Case Number</label>
                @Html.TextBox("caseNumber", null, new { @class = "form-control", required = "required", @id = "caseNumber" })
            </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-raised btn-primary">Search</button>
        </div>
    </div>
}